---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/api/sessions/impact?dataSetName=&endDate=2013-05-19&eventName=test%20event&isestimate=false&startDate=2013-05-10&targetColumn=sales
    body:
      encoding: ASCII-8BIT
      string: "{\r\n    \"data\": [{\r\n            \"timestamp\": \"2012-12-31T00:00:00+00:00\",\r\n
        \           \"values\": {\r\n                \"sales\": \"2919.51\",\r\n                \"transactions\":
        \"431\"\r\n            }\r\n        },\r\n        {\r\n            \"timestamp\":
        \"2013-01-01T00:00:00+00:00\",\r\n            \"values\": {\r\n                \"sales\":
        \"1288.6\",\r\n                \"transactions\": \"191\"\r\n            }\r\n
        \       },\r\n        {\r\n            \"timestamp\": \"2013-01-02T00:00:00+00:00\",\r\n
        \           \"values\": {\r\n                \"sales\": \"2895.62\",\r\n                \"transactions\":
        \"443\[...]
