---
http_interactions:
- request:
    method: put
    uri: https://api.uat.nexosisdev.com/api/data/TestRuby_Json
    body:
      encoding: UTF-8
      string: '{"data":[{"timestamp":"2017-01-01T00:00:00+00:00","values":{"sales":"2948.74","transactions":"684"}},{"timestamp":"2017-01-02T00:00:00+00:00","values":{"sales":"1906.35","transactions":"421"}},{"timestamp":"2017-01-03T00:00:00+00:00","values":{"sales":"4523.42","transactions":"1053"}},{"timestamp":"2017-01-04T00:00:00+00:00","values":{"sales":"4586.85","transactions":"1038"}},{"timestamp":"2017-01-05T00:00:00+00:00","values":{"sales":"4538.04","transactions":"1055"}}]}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://gateway.uat.nexosisdev.com/data/TestRuby_Json
      Nexosis-Request-Cost:
      - 0.01 USD
      Nexosis-Account-Balance:
      - 1315085.07 USD
    body:
      encoding: UTF-8
      string: '{"dataSetName":"TestRuby_Json"}'
  recorded_at: Fri, 16 Jun 2017 13:58:28 GMT
recorded_with: VCR 3.0.3
