---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?endDate=2014-05-21&isestimate=false&resultInterval=day&startDate=2014-05-20&targetColumn=sales
    body:
      encoding: UTF-8
      string: timestamp,foo\r\n2014-05-19,65.25
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - text/csv
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Balance:
      - 1314879.47 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":400,"message":"Request is invalid","errorType":"RequestValidation","errorDetails":{"data":["Either
        dataSetName or data in the request body must be provided"]}}'
  recorded_at: Mon, 03 Jul 2017 19:38:42 GMT
recorded_with: VCR 3.0.3
