---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=TestRuby&endDate=2013-08-28&isestimate=false&resultInterval=day&startDate=2013-07-18&targetColumn=sales
    body:
      encoding: UTF-8
      string: '{"dataSetName":"TestRuby","columns":{"transactions":{"dataType":"numeric","role":"feature"}}}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 4.10 USD
      Nexosis-Account-Balance:
      - 1314728.65 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015d36df-e47d-4e8a-8e0b-c8ead7f03b7b","type":"forecast","status":"requested","requestedDate":"2017-07-12T12:57:08.989331+00:00","statusHistory":[{"date":"2017-07-12T12:57:08.989331+00:00","status":"requested"}],"extraParameters":{},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"feature"}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2013-07-18T00:00:00+00:00","endDate":"2013-08-28T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d36df-e47d-4e8a-8e0b-c8ead7f03b7b/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Wed, 12 Jul 2017 12:57:14 GMT
recorded_with: VCR 3.0.3
