---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/model
    body:
      encoding: UTF-8
      string: '{"dataSourceName":"TestRuby_NTS","targetColumn":"SalePrice","predictionDomain":"regression","isEstimate":false}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Resource Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "statusCode": 404, "message": "Resource not found" }'
  recorded_at: Wed, 27 Sep 2017 15:46:37 GMT
recorded_with: VCR 3.0.3
