---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?endDate=2017-01-10&isestimate=false&startDate=2017-01-06&targetColumn=sales
    body:
      encoding: ASCII-8BIT
      string: "{\r\n    \"columns\": {\r\n        \"sales\": {\r\n            \"dataType\":
        \"numeric\",\r\n            \"role\": \"none\"\r\n        },\r\n        \"timeStamp\":
        {\r\n            \"dataType\": \"date\",\r\n            \"role\": \"timestamp\"\r\n
        \       },\r\n        \"transactions\": {\r\n            \"dataType\": \"numeric\",\r\n
        \           \"role\": \"none\"\r\n        }\r\n    },\r\n    \"data\": [{\r\n
        \           \"sales\": \"2919.51\",\r\n            \"timeStamp\": \"2012-12-31
        00:00:00\",\r\n            \"transactions\": \"431\"\r\n        },\r\n        {\r\n
        \           \"sales\": \"1288.6\",\r\n            \"timeStamp\": \"2013-01-01
        00:00:00\",\r\n            \"transactions\": \"191\"\r\n        },\r\n        {\r\n
        \           \"sales\": \"2895.62\",\r\n            \"timeStamp\": \"2013-01-02
        00:00:00\",\r\n            \"transaction[...]
