---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/impact?dataSetName=TestRuby&endDate=05-10-2014&eventName=test%20event&isestimate=false&resultInterval=day&startDate=05-01-2014&targetColumn=sales
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.90 USD
      Nexosis-Account-Balance:
      - 1314733.66 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015d36df-aaa0-47f6-93ba-fadcf70b2d62","type":"impact","status":"requested","requestedDate":"2017-07-12T12:56:54.176438+00:00","statusHistory":[{"date":"2017-07-12T12:56:54.176438+00:00","status":"requested"}],"extraParameters":{"event":"test
        event"},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"feature"}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-01T00:00:00+00:00","endDate":"2014-05-10T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d36df-aaa0-47f6-93ba-fadcf70b2d62/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Wed, 12 Jul 2017 12:56:59 GMT
recorded_with: VCR 3.0.3
