---
http_interactions:
- request:
    method: put
    uri: https://api.uat.nexosisdev.com/v1/data/TestRuby_Json
    body:
      encoding: UTF-8
      string: '{"columns":{"sales":{"dataType":"numeric","role":"none"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"none"}},"data":[{"sales":"2919.51","timeStamp":"2012-12-31
        00:00:00","transactions":"431"},{"sales":"1288.6","timeStamp":"2013-01-01
        00:00:00","transactions":"191"},{"sales":"2895.62","timeStamp":"2013-01-02
        00:00:00","transactions":"443"},{"sales":"2997.13","timeStamp":"2013-01-03
        00:00:00","transactions":"477"},{"sales":"3340.63","timeStamp":"2013-01-04
        00:00:00","transactions":"499"},{"sales":"2254.3","timeStamp":"2013-01-05
        00:00:00","transactions":"354"},{"s[...]
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/data/TestRuby_Json?cascade=model
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Balance:
      - 1315087.03 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 06 Oct 2017 17:51:35 GMT
recorded_with: VCR 3.0.3
