---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=TestRuby&endDate=02-22-2013&isestimate=false&resultInterval=seconds&startDate=01-22-2013&targetColumn=sales
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Balance:
      - 1315111.73 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":400,"message":"Request is invalid","errorType":"RequestValidation","errorDetails":{"resultInterval":["The
        value ''seconds'' is not valid for Nullable`1."]}}'
  recorded_at: Fri, 18 Aug 2017 03:08:09 GMT
recorded_with: VCR 3.0.3
