---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=TestRuby&endDate=02-22-2017&isestimate=false&startDate=01-22-2017&targetColumn=sales
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 3.1 USD
      Nexosis-Account-Balance:
      - 1314919.85 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015cf057-7c0b-468d-b9e8-1e3161b61fda","type":"forecast","status":"requested","requestedDate":"2017-06-28T20:14:44.23475+00:00","statusHistory":[{"date":"2017-06-28T20:14:44.23475+00:00","status":"requested"}],"extraParameters":{},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":null}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2017-01-22T00:00:00+00:00","endDate":"2017-02-22T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015cf057-7c0b-468d-b9e8-1e3161b61fda/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Wed, 28 Jun 2017 20:14:45 GMT
recorded_with: VCR 3.0.3
