---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=IDontExist&endDate=02-22-2013&isestimate=false&resultInterval=day&startDate=01-22-2013&targetColumn=sales
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Balance:
      - 1315111.73 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":404,"message":"Item of type dataSource with identifier
        IDontExist was not found","errorType":"NotFound","errorDetails":{"itemType":"dataSource","itemId":"IDontExist","companyId":"36774fba-a391-4078-af36-b5adf6a17a87"}}'
  recorded_at: Fri, 18 Aug 2017 03:08:09 GMT
recorded_with: VCR 3.0.3
