---
http_interactions:
- request:
    method: put
    uri: https://api.uat.nexosisdev.com/v1/data/TestRuby_MeasureDatatype
    body:
      encoding: UTF-8
      string: '{"columns":{"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"co2PpmMean":{"dataType":"numericmeasure","role":"feature","imputation":"mean","aggregation":"mean"},"globalTemp":{"dataType":"numericmeasure","role":"target"},"sunspotsSum":{"dataType":"numericmeasure","role":"none"}},"data":[{"timeStamp":"1880-01-01
        00:00:00Z","globalTemp":-0.4700088,"co2PpmMean":289.41,"sunspotsSum":53.7},{"timeStamp":"1881-01-01
        00:00:00Z","globalTemp":-0.3568788,"co2PpmMean":289.41,"sunspotsSum":90.5},{"timeStamp":"1882-01-01
        00:00:00Z","globalTemp":-0.3726612,"co2PpmMean":289.41,"sunspotsSum":99},{"timeStamp":"1883-01-01
        00:00:00Z","globalTemp":-0.448443,"co2PpmMean":289.41,"sunspotsSum":106.1},{"timeStamp":"1884-01-01
        00:00:00Z","globalTemp":-0.5897538,"[...]
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/data/TestRuby_MeasureDatatype?cascade=forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Balance:
      - 1315111.81 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 18 Aug 2017 02:58:31 GMT
recorded_with: VCR 3.0.3
