---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/impact?dataSetName=TestRuby&endDate=05-10-2014&eventName=test%20event&isestimate=true&resultInterval=week&startDate=05-01-2014&targetColumn=sales
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.01 USD
      Nexosis-Account-Balance:
      - 1315086.92 USD
    body:
      encoding: UTF-8
      string: '{"columns":{"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"sessionId":"015ef2d1-7594-4105-9ddf-667c5e4d44b3","type":"impact","status":"estimated","eventName":"test
        event","startDate":"2014-05-01T00:00:00+00:00","endDate":"2014-05-10T00:00:00+00:00","resultInterval":"week","requestedDate":"2017-10-06T17:52:46.99597+00:00","statusHistory":[{"date":"2017-10-06T17:52:46.99597+00:00","status":"requested"},{"date":"2017-10-06T17:52:47.02075+00:00","status":"estimated"}],"extraParameters":{"event":"test
        event"},"messages":[],"dataSourceName":"TestRuby","dataSetName":"TestRuby","targetColumn":"sales","isEstimate":true,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015ef2d1-7594-4105-9ddf-667c5e4d44b3/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Fri, 06 Oct 2017 17:52:47 GMT
recorded_with: VCR 3.0.3
