---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=TestRuby&endDate=02-22-2017&isestimate=true&resultInterval=day&startDate=01-22-2017&targetColumn=sales
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 3.1 USD
      Nexosis-Account-Balance:
      - 1314883.59 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015d09f6-3a9e-45d2-ae7d-4d223d5be478","type":"forecast","status":"estimated","requestedDate":"2017-07-03T19:38:38.110508+00:00","statusHistory":[{"date":"2017-07-03T19:38:38.110508+00:00","status":"requested"},{"date":"2017-07-03T19:38:38.124905+00:00","status":"estimated"}],"extraParameters":{},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":null}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2017-01-22T00:00:00+00:00","endDate":"2017-02-22T00:00:00+00:00","callbackUrl":null,"isEstimate":true,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d09f6-3a9e-45d2-ae7d-4d223d5be478/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Mon, 03 Jul 2017 19:38:39 GMT
recorded_with: VCR 3.0.3
