---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=TestRuby&endDate=2014-06-20&isestimate=true&resultInterval=day&startDate=2014-05-20&targetColumn=sales
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 3.10 USD
      Nexosis-Account-Balance:
      - 1314734.56 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015d36df-a9b9-4cc2-8d5e-b72d867d46cd","type":"forecast","status":"estimated","requestedDate":"2017-07-12T12:56:53.945203+00:00","statusHistory":[{"date":"2017-07-12T12:56:53.945203+00:00","status":"requested"},{"date":"2017-07-12T12:56:53.954939+00:00","status":"estimated"}],"extraParameters":{},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":null}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-20T00:00:00+00:00","endDate":"2014-06-20T00:00:00+00:00","callbackUrl":null,"isEstimate":true,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d36df-a9b9-4cc2-8d5e-b72d867d46cd/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Wed, 12 Jul 2017 12:56:59 GMT
recorded_with: VCR 3.0.3
