---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=TestRuby&endDate=2014-06-20&isestimate=true&resultInterval=day&startDate=2014-05-20&targetColumn=sales
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.01 USD
      Nexosis-Account-Balance:
      - 1315111.78 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015df347-2e63-4754-8cc5-9d844b3497c5","type":"forecast","status":"estimated","requestedDate":"2017-08-18T02:58:34.723644+00:00","statusHistory":[{"date":"2017-08-18T02:58:34.723644+00:00","status":"requested"},{"date":"2017-08-18T02:58:34.733831+00:00","status":"estimated"}],"extraParameters":{},"messages":[],"columns":{"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"}},"dataSourceName":"TestRuby","dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-20T00:00:00+00:00","endDate":"2014-06-20T00:00:00+00:00","callbackUrl":null,"isEstimate":true,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015df347-2e63-4754-8cc5-9d844b3497c5/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Fri, 18 Aug 2017 02:58:34 GMT
recorded_with: VCR 3.0.3
