---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=TestRuby&endDate=02-22-2013&isestimate=true&resultInterval=week&startDate=01-22-2013&targetColumn=sales
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.01 USD
      Nexosis-Account-Balance:
      - 1315111.73 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015df34f-f43b-44c3-9f07-393945fdcd3b","type":"forecast","status":"estimated","requestedDate":"2017-08-18T03:08:09.659012+00:00","statusHistory":[{"date":"2017-08-18T03:08:09.659012+00:00","status":"requested"},{"date":"2017-08-18T03:08:09.681064+00:00","status":"estimated"}],"extraParameters":{},"messages":[],"columns":{"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"dataSourceName":"TestRuby","dataSetName":"TestRuby","targetColumn":"sales","startDate":"2013-01-22T00:00:00+00:00","endDate":"2013-02-22T00:00:00+00:00","callbackUrl":null,"isEstimate":true,"resultInterval":"week","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015df34f-f43b-44c3-9f07-393945fdcd3b/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Fri, 18 Aug 2017 03:08:09 GMT
recorded_with: VCR 3.0.3
