---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/impact?dataSetName=TestRuby&endDate=05-10-2014&eventName=test%20event&isestimate=true&resultInterval=day&startDate=05-01-2014&targetColumn=sales
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.01 USD
      Nexosis-Account-Balance:
      - 1315111.77 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015df347-30a5-4952-b1ff-69e66c0369d9","type":"impact","status":"estimated","requestedDate":"2017-08-18T02:58:35.300984+00:00","statusHistory":[{"date":"2017-08-18T02:58:35.300984+00:00","status":"requested"},{"date":"2017-08-18T02:58:35.318236+00:00","status":"estimated"}],"extraParameters":{"event":"test
        event"},"messages":[],"columns":{"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"dataSourceName":"TestRuby","dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-01T00:00:00+00:00","endDate":"2014-05-10T00:00:00+00:00","callbackUrl":null,"isEstimate":true,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015df347-30a5-4952-b1ff-69e66c0369d9/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Fri, 18 Aug 2017 02:58:35 GMT
recorded_with: VCR 3.0.3
