---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/impact?dataSetName=TestRuby&endDate=05-10-2014&eventName=test%20event&isestimate=true&startDate=05-01-2014&targetColumn=sales
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.9 USD
      Nexosis-Account-Balance:
      - 1315042.87 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015ce5ed-9f99-4c5c-b02f-02673630b3ca","type":"impact","status":"estimated","requestedDate":"2017-06-26T19:42:54.360886+00:00","statusHistory":[{"date":"2017-06-26T19:42:54.360886+00:00","status":"requested"},{"date":"2017-06-26T19:42:54.369776+00:00","status":"estimated"}],"extraParameters":{"event":"test
        event"},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"none"}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-01T00:00:00+00:00","endDate":"2014-05-10T00:00:00+00:00","callbackUrl":null,"isEstimate":true,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/api/sessions/015ce5ed-9f99-4c5c-b02f-02673630b3ca/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/api/data/TestRuby"}]}'
  recorded_at: Mon, 26 Jun 2017 19:43:00 GMT
recorded_with: VCR 3.0.3
