---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=TestRuby&endDate=02-22-2017&isestimate=true&resultInterval=week&startDate=01-22-2017&targetColumn=sales
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.442857142857143 USD
      Nexosis-Account-Balance:
      - 1314827 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015d1925-6c6a-4165-9cf4-e05fb1213ed9","type":"forecast","status":"estimated","requestedDate":"2017-07-06T18:24:29.290157+00:00","statusHistory":[{"date":"2017-07-06T18:24:29.290157+00:00","status":"requested"},{"date":"2017-07-06T18:24:29.303871+00:00","status":"estimated"}],"extraParameters":{},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":null}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2017-01-22T00:00:00+00:00","endDate":"2017-02-22T00:00:00+00:00","callbackUrl":null,"isEstimate":true,"resultInterval":"week","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d1925-6c6a-4165-9cf4-e05fb1213ed9/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Thu, 06 Jul 2017 18:24:29 GMT
recorded_with: VCR 3.0.3
