---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/api/sessions/forecast?dataSetName=TestRuby&endDate=02-22-2017&isestimate=true&startDate=01-22-2017&targetColumn=sales
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 3.1 USD
      Nexosis-Account-Balance:
      - 1315104.28 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015cb11e-1d17-4777-98c5-b076c1b1d56d","type":"forecast","status":"estimated","statusHistory":[{"date":"2017-06-16T13:35:59.767441+00:00","status":"requested"},{"date":"2017-06-16T13:35:59.776802+00:00","status":"estimated"}],"extraParameters":{},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2017-01-22T00:00:00+00:00","endDate":"2017-02-22T00:00:00+00:00","callbackUrl":null,"isEstimate":true,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/api/sessions/015cb11e-1d17-4777-98c5-b076c1b1d56d/results"},{"rel":"model","href":"https://api.uat.nexosisdev.com/api/data/TestRuby/forecast/model/sales"},{"rel":"data","href":"https://api.uat.nexosisdev.com/api/data/TestRuby"}]}'
  recorded_at: Fri, 16 Jun 2017 13:36:05 GMT
recorded_with: VCR 3.0.3
