---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=TestRuby&endDate=02-22-2017&isestimate=true&startDate=01-22-2017&targetColumn=sales
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 3.1 USD
      Nexosis-Account-Balance:
      - 1315043.77 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015ce5ed-9d56-426b-88e2-633f4b16fa66","type":"forecast","status":"estimated","requestedDate":"2017-06-26T19:42:53.781992+00:00","statusHistory":[{"date":"2017-06-26T19:42:53.781992+00:00","status":"requested"},{"date":"2017-06-26T19:42:53.789071+00:00","status":"estimated"}],"extraParameters":{},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"none"}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2017-01-22T00:00:00+00:00","endDate":"2017-02-22T00:00:00+00:00","callbackUrl":null,"isEstimate":true,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/api/sessions/015ce5ed-9d56-426b-88e2-633f4b16fa66/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/api/data/TestRuby"}]}'
  recorded_at: Mon, 26 Jun 2017 19:42:59 GMT
recorded_with: VCR 3.0.3
