---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=TestRuby&endDate=02-22-2013&isestimate=true&resultInterval=week&startDate=01-22-2013&targetColumn=sales
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.44 USD
      Nexosis-Account-Balance:
      - 1314728.65 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015d36df-e72a-40e4-844e-72f57484f022","type":"forecast","status":"estimated","requestedDate":"2017-07-12T12:57:09.673852+00:00","statusHistory":[{"date":"2017-07-12T12:57:09.673852+00:00","status":"requested"},{"date":"2017-07-12T12:57:09.730768+00:00","status":"estimated"}],"extraParameters":{},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"feature"}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2013-01-22T00:00:00+00:00","endDate":"2013-02-22T00:00:00+00:00","callbackUrl":null,"isEstimate":true,"resultInterval":"week","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d36df-e72a-40e4-844e-72f57484f022/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Wed, 12 Jul 2017 12:57:14 GMT
recorded_with: VCR 3.0.3
