---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/impact?dataSetName=TestRuby&endDate=05-10-2014&eventName=test%20event&isestimate=true&startDate=05-01-2014&targetColumn=sales
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.9 USD
      Nexosis-Account-Balance:
      - 1314918.95 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015cf057-7f39-41f2-a39c-b1cd030f764c","type":"impact","status":"estimated","requestedDate":"2017-06-28T20:14:45.049062+00:00","statusHistory":[{"date":"2017-06-28T20:14:45.049062+00:00","status":"requested"},{"date":"2017-06-28T20:14:45.070815+00:00","status":"estimated"}],"extraParameters":{"event":"test
        event"},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"feature"}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-01T00:00:00+00:00","endDate":"2014-05-10T00:00:00+00:00","callbackUrl":null,"isEstimate":true,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015cf057-7f39-41f2-a39c-b1cd030f764c/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Wed, 28 Jun 2017 20:14:46 GMT
recorded_with: VCR 3.0.3
