---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/impact?dataSetName=TestRuby&endDate=05-10-2014&eventName=test%20event&isestimate=true&resultInterval=day&startDate=05-01-2014&targetColumn=sales
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.9 USD
      Nexosis-Account-Balance:
      - 1314882.69 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015d09f6-3cf2-4014-a819-5da60a91fd13","type":"impact","status":"estimated","requestedDate":"2017-07-03T19:38:38.705925+00:00","statusHistory":[{"date":"2017-07-03T19:38:38.705925+00:00","status":"requested"},{"date":"2017-07-03T19:38:38.724082+00:00","status":"estimated"}],"extraParameters":{"event":"test
        event"},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"feature"}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-01T00:00:00+00:00","endDate":"2014-05-10T00:00:00+00:00","callbackUrl":null,"isEstimate":true,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d09f6-3cf2-4014-a819-5da60a91fd13/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Mon, 03 Jul 2017 19:38:40 GMT
recorded_with: VCR 3.0.3
