---
http_interactions:
- request:
    method: put
    uri: https://api.uat.nexosisdev.com/v1/views/TestRubyView_DataDates
    body:
      encoding: UTF-8
      string: '{"dataSetName":"TestRuby","joins":[{"dataSet":{"name":"TestRuby_Right"}}]}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://gateway.uat.nexosisdev.com/views/TestRubyView_DataDates
      Nexosis-Account-Balance:
      - 1315111.70 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"viewName":"TestRubyView_DataDates","dataSetName":"TestRuby","columns":{"sales":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"}},"joins":[{"dataSet":{"name":"TestRuby_Right"},"columnOptions":{},"joins":null}]}'
  recorded_at: Fri, 18 Aug 2017 03:08:18 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/views/TestRubyView_DataDates?endDate=2014-10-05&page=0&pageSize=10&startDate=2014-01-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315111.70 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"data":[{"sales":"1638.52","transactions":"248","timeStamp":"2014-01-05T00:00:00.0000000Z"},{"sales":"2529.58","transactions":"401","timeStamp":"2014-01-06T00:00:00.0000000Z"},{"sales":"2758.34","transactions":"441","timeStamp":"2014-01-07T00:00:00.0000000Z"},{"sales":"2627.16","transactions":"429","timeStamp":"2014-01-08T00:00:00.0000000Z"},{"sales":"2652.87","transactions":"417","timeStamp":"2014-01-09T00:00:00.0000000Z"},{"sales":"3120.47","transactions":"461","timeStamp":"2014-01-10T00:00:00.0000000Z"},{"sales":"2023.45","transactions":"307","timeStamp":"2014-01-11T00:00:00.0000000Z"},{"sales":"1603.94","transactions":"246","timeStamp":"2014-01-12T00:00:00.0000000Z"},{"sales":"2919.92","transactions":"475","timeStamp":"2014-01-13T00:00:00.0000000Z"},{"sales":"2570.15","transactions":"427","timeStamp":"2014-01-14T00:00:00.0000000Z"}],"viewName":"TestRubyView_DataDates","dataSetName":"TestRuby","columns":{"sales":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"}},"joins":[{"dataSet":{"name":"TestRuby_Right"},"columnOptions":{},"joins":null}]}'
  recorded_at: Fri, 18 Aug 2017 03:08:19 GMT
recorded_with: VCR 3.0.3
