---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=TestRuby&endDate=2014-05-25&isestimate=false&resultInterval=day&startDate=2014-05-20&targetColumn=sales
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.50 USD
      Nexosis-Account-Balance:
      - 1314733.16 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015d36df-ada8-4790-a65a-68a06a69211d","type":"forecast","status":"requested","requestedDate":"2017-07-12T12:56:54.952803+00:00","statusHistory":[{"date":"2017-07-12T12:56:54.952803+00:00","status":"requested"}],"extraParameters":{},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":null}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-20T00:00:00+00:00","endDate":"2014-05-25T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d36df-ada8-4790-a65a-68a06a69211d/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Wed, 12 Jul 2017 12:57:00 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015d36df-ada8-4790-a65a-68a06a69211d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Started
      Nexosis-Account-Balance:
      - 1314733.16 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015d36df-ada8-4790-a65a-68a06a69211d","type":"forecast","status":"started","requestedDate":"2017-07-12T12:56:54.952803+00:00","statusHistory":[{"date":"2017-07-12T12:56:54.952803+00:00","status":"requested"},{"date":"2017-07-12T12:56:54.9514555+00:00","status":"started"}],"extraParameters":{},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":null}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-20T00:00:00+00:00","endDate":"2014-05-25T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d36df-ada8-4790-a65a-68a06a69211d/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Wed, 12 Jul 2017 12:57:00 GMT
[...]
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015d36df-ada8-4790-a65a-68a06a69211d/results
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Completed
      Nexosis-Account-Balance:
      - 1314733.16 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"metrics":{},"data":[{"timeStamp":"2014-05-20T00:00:00.0000000Z","sales":"3076.25209888889"},{"timeStamp":"2014-05-21T00:00:00.0000000Z","sales":"3175.30515444445"},{"timeStamp":"2014-05-22T00:00:00.0000000Z","sales":"3253.98209888889"},{"timeStamp":"2014-05-23T00:00:00.0000000Z","sales":"3578.63904333333"},{"timeStamp":"2014-05-24T00:00:00.0000000Z","sales":"2809.36084888889"}],"sessionId":"015d36df-ada8-4790-a65a-68a06a69211d","type":"forecast","status":"completed","requestedDate":"2017-07-12T12:56:54.952803+00:00","statusHistory":[{"date":"2017-07-12T12:56:54.952803+00:00","status":"requested"},{"date":"2017-07-12T12:56:54.9514555+00:00","status":"started"},{"date":"2017-07-12T12:57:04.8577697+00:00","status":"completed"}],"extraParameters":{},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":null}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-20T00:00:00+00:00","endDate":"2014-05-25T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d36df-ada8-4790-a65a-68a06a69211d/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Wed, 12 Jul 2017 12:57:11 GMT
recorded_with: VCR 3.0.3
