---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/models/87129a4e-e123-4390-b5d1-e7ab07da1434
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315087.87 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"columns":{"key":{"dataType":"numeric","role":"key","imputation":"zeroes","aggregation":"sum"},"target":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"feature":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"modelId":"87129a4e-e123-4390-b5d1-e7ab07da1434","sessionId":"015eecb9-52a9-4d39-8f5e-374287f5524e","predictionDomain":"regression","dataSourceName":"TestRuby_NTS","createdDate":"2017-10-05T13:29:07.2881061+00:00","algorithm":{"name":"Lasso
        Regression","description":"Lasso Regression","key":"lasso"},"metrics":{}}'
  recorded_at: Thu, 05 Oct 2017 13:29:24 GMT
recorded_with: VCR 3.0.3
