---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?endDate=1-4-2017&isestimate=false&resultInterval=day&startDate=1-3-2017&targetColumn=foo
    body:
      encoding: UTF-8
      string: "timestamp,foo\r\n1-1-2017,334.22\r\n1-2-2017,533.87"
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - text/csv
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.1 USD
      Nexosis-Account-Balance:
      - 1314878.04 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015d09f6-4cfb-4eb5-8c8f-9b7e35a2a238","type":"forecast","status":"requested","requestedDate":"2017-07-03T19:38:42.810748+00:00","statusHistory":[{"date":"2017-07-03T19:38:42.810748+00:00","status":"requested"}],"extraParameters":{},"columns":{"foo":{"dataType":"numeric","role":"target"},"timestamp":{"dataType":"date","role":"timestamp"}},"dataSetName":"forecast.015d09f6-4cfb-4eb5-8c8f-9b7e35a2a238","targetColumn":"foo","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-04T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d09f6-4cfb-4eb5-8c8f-9b7e35a2a238/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/forecast.015d09f6-4cfb-4eb5-8c8f-9b7e35a2a238"}]}'
  recorded_at: Mon, 03 Jul 2017 19:38:44 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015d09f6-4cfb-4eb5-8c8f-9b7e35a2a238
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Requested
      Nexosis-Account-Balance:
      - 1314878.04 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015d09f6-4cfb-4eb5-8c8f-9b7e35a2a238","type":"forecast","status":"requested","requestedDate":"2017-07-03T19:38:42.810748+00:00","statusHistory":[{"date":"2017-07-03T19:38:42.810748+00:00","status":"requested"}],"extraParameters":{},"columns":{"foo":{"dataType":"numeric","role":"target"},"timestamp":{"dataType":"date","role":"timestamp"}},"dataSetName":"forecast.015d09f6-4cfb-4eb5-8c8f-9b7e35a2a238","targetColumn":"foo","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-04T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d09f6-4cfb-4eb5-8c8f-9b7e35a2a238/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/forecast.015d09f6-4cfb-4eb5-8c8f-9b7e35a2a238"}]}'
  recorded_at: Mon, 03 Jul 2017 19:38:44 GMT
[...]
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015d09f6-4cfb-4eb5-8c8f-9b7e35a2a238/results
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Completed
      Nexosis-Account-Balance:
      - 1314878.04 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"metrics":{},"data":[{"timestamp":"2017-01-03T00:00:00.0000000Z","foo":"533.87"}],"sessionId":"015d09f6-4cfb-4eb5-8c8f-9b7e35a2a238","type":"forecast","status":"completed","requestedDate":"2017-07-03T19:38:42.810748+00:00","statusHistory":[{"date":"2017-07-03T19:38:42.810748+00:00","status":"requested"},{"date":"2017-07-03T19:38:44.5681203+00:00","status":"started"},{"date":"2017-07-03T19:39:18.1471268+00:00","status":"completed"}],"extraParameters":{},"columns":{"foo":{"dataType":"numeric","role":"target"},"timestamp":{"dataType":"date","role":"timestamp"}},"dataSetName":"forecast.015d09f6-4cfb-4eb5-8c8f-9b7e35a2a238","targetColumn":"foo","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-04T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d09f6-4cfb-4eb5-8c8f-9b7e35a2a238/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/forecast.015d09f6-4cfb-4eb5-8c8f-9b7e35a2a238"}]}'
  recorded_at: Mon, 03 Jul 2017 19:39:21 GMT
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/data/forecast.015d09f6-4cfb-4eb5-8c8f-9b7e35a2a238?cascade=session&endDate=&startDate=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Balance:
      - 1314878.04 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 03 Jul 2017 19:39:22 GMT
recorded_with: VCR 3.0.3
