---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/data/TestRuby?endDate=2014-03-30T00:00:00%2B00:00&include=&page=0&pageSize=20&startDate=2014-01-01T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1314873.86 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"dataSetName":"TestRuby","columns":{"sales":{"dataType":"numeric","role":null},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":null}},"data":[{"sales":"1206.41","timeStamp":"2014-01-01
        00:00:00","transactions":"190"},{"sales":"2732.97","timeStamp":"2014-01-02
        00:00:00","transactions":"420"},{"sales":"3063.84","timeStamp":"2014-01-03
        00:00:00","transactions":"455"},{"sales":"2489.92","timeStamp":"2014-01-04
        00:00:00","transactions":"347"},{"sales":"1638.52","timeStamp":"2014-01-05
        00:00:00","transactions":"248"},{"sales":"2529.58","timeStamp":"2014-01-06
        00:00:00","transactions":"401"},{[...]
