---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=TestRuby&endDate=2014-05-25&isestimate=false&resultInterval=day&startDate=2014-05-20&targetColumn=sales
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.01 USD
      Nexosis-Account-Balance:
      - 1315111.76 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015df347-32cb-4d11-8590-e28995bb6f52","type":"forecast","status":"requested","requestedDate":"2017-08-18T02:58:35.851314+00:00","statusHistory":[{"date":"2017-08-18T02:58:35.851314+00:00","status":"requested"}],"extraParameters":{},"messages":[],"columns":{"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"}},"dataSourceName":"TestRuby","dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-20T00:00:00+00:00","endDate":"2014-05-25T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015df347-32cb-4d11-8590-e28995bb6f52/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Fri, 18 Aug 2017 02:58:35 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015df347-32cb-4d11-8590-e28995bb6f52
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Requested
      Nexosis-Account-Balance:
      - 1315111.76 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015df347-32cb-4d11-8590-e28995bb6f52","type":"forecast","status":"requested","requestedDate":"2017-08-18T02:58:35.851314+00:00","statusHistory":[{"date":"2017-08-18T02:58:35.851314+00:00","status":"requested"}],"extraParameters":{},"messages":[],"columns":{"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"}},"dataSourceName":"TestRuby","dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-20T00:00:00+00:00","endDate":"2014-05-25T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015df347-32cb-4d11-8590-e28995bb6f52/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Fri, 18 Aug 2017 02:58:36 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015df347-32cb-4d11-8590-e28995bb6f52
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Started
      Nexosis-Account-Balance:
      - 1315111.76 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015df347-32cb-4d11-8590-e28995bb6f52","type":"forecast","status":"started","requestedDate":"2017-08-18T02:58:35.851314+00:00","statusHistory":[{"date":"2017-08-18T02:58:35.851314+00:00","status":"requested"},{"date":"2017-08-18T02:58:35.8714954+00:00","status":"started"}],"extraParameters":{},"messages":[{"severity":"informational","message":"500
        daily observations were found in the dataset between 2012-12-31T00:00:00.0000000Z
        and 2014-05-19T00:00:00.0000000Z."}],"columns":{"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"}},"dataSourceName":"TestRuby","dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-20T00:00:00+00:00","endDate":"2014-05-25T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015df347-32cb-4d11-8590-e28995bb6f52/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Fri, 18 Aug 2017 02:58:41 GMT
[...]
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015df347-32cb-4d11-8590-e28995bb6f52/results
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Completed
      Nexosis-Account-Balance:
      - 1315111.76 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"metrics":{},"data":[{"timeStamp":"2014-05-20T00:00:00.0000000Z","sales":"3090.2200401896"},{"timeStamp":"2014-05-21T00:00:00.0000000Z","sales":"3053.16161860585"},{"timeStamp":"2014-05-22T00:00:00.0000000Z","sales":"3346.19469152093"},{"timeStamp":"2014-05-23T00:00:00.0000000Z","sales":"3384.16316633947"},{"timeStamp":"2014-05-24T00:00:00.0000000Z","sales":"2820.67004601439"}],"sessionId":"015df347-32cb-4d11-8590-e28995bb6f52","type":"forecast","status":"completed","requestedDate":"2017-08-18T02:58:35.851314+00:00[...]
