---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=TestRuby&endDate=2014-05-25&resultInterval=day&startDate=2014-05-20&targetColumn=sales
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '47'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '11'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '129'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"columns":{"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"sessionId":"016046f6-7019-46d0-8d15-26606e239eb1","type":"forecast","status":"requested","predictionDomain":"forecast","availablePredictionIntervals":["0.5"],"startDate":"2014-05-20T00:00:00+00:00","endDate":"2014-05-25T00:00:00+00:00","resultInterval":"day","requestedDate":"2017-12-11T19:04:03.863124+00:00","statusHistory":[{"date":"2017-12-11T19:04:03.863124+00:00","status":"requested"}],"extraParameters":{},"messages":[],"dataSourceName":"TestRuby","dataSetName":"TestRuby","targetColumn":"sales","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/016046f6-7019-46d0-8d15-26606e239eb1/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}'
  recorded_at: Mon, 11 Dec 2017 19:04:03 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/016046f6-7019-46d0-8d15-26606e239eb1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Started
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '47'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '11'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '129'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
    [...]
[...]
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/016046f6-7019-46d0-8d15-26606e239eb1/results
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Completed
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '47'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '11'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '129'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"metrics":{"meanAbsoluteError":57.069281039333816,"meanAbsolutePercentError":0.020325627632284342,"meanAbsoluteScaledError":0.093516098020070229,"rootMeanSquareError":81.663475813028739,"rSquared":0.95247886883807653},"data":[{"timeStamp":"2014-05-20T00:00:00.0000000Z","sales":"-61.4874600180702"},{"timeStamp":"2014-05-21T00:00:00.0000000Z","sales":"-31.3840788190225"},{"timeStamp":"2014-05-22T00:00:00.0000000Z","sales":"4.14317094225576"},{"timeStamp":"2014-05-23T00:00:00.0000000Z","sales":"128.109057492481"},{"timeStamp":"2014-05-24T00:00:00.0000000Z","sales":"199.391756883355"},{"timeStamp":"2014-05-25T00:00:00.0000000Z","sales":"98.8233030343346"}],"sessionId":"016046f6-7019-46d0-8d15-26606e239eb1","type":"forecast","status":"completed","predictionDomain":"forecast","availablePredictionIntervals":["0.01","0.05","0.2","0.5","0.8","0.95","0.99"],"startDate":"2014-05-20T00:00:00+00:00","endDate":"2014-05-25T00:00:00+00:00","resultInterval":"day","requestedDate":"2017-12-11T19:04:03.863124+00:00","statusHistory":[{"date":"2017-12-11T19:04:03.863124+00:00","status":"requested"},{"date":"2017-12-11T19:04:03.2950058+00:00","status":"started"},{"date":"2017-12-11T19:07:38.4345364+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"499
        daily observations were found in the dataset before 2014-05-25T23:59:59.9999999Z."},{"severity":"warning","message":"Feature
        column transactions has no values for the prediction range of 2014-05-20T00:00:00.0000000Z
        - 2014-05-25T00:00:00.0000000Z"}],"dataSourceName":"TestRuby","dataSetName":"TestRuby","targetColumn":"sales","isEstimate":false,"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/sessions/016046f6-7019-46d0-8d15-26[...]
