---
http_interactions:
- request:
    method: put
    uri: https://api.uat.nexosisdev.com/v1/views/TestRubyView_Data
    body:
      encoding: UTF-8
      string: '{"dataSetName":"TestRuby","joins":[{"dataSet":{"name":"TestRuby_Right"}}]}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://gateway.uat.nexosisdev.com/views/TestRubyView_Data
      Nexosis-Account-Balance:
      - 1315111.70 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"viewName":"TestRubyView_Data","dataSetName":"TestRuby","columns":{"sales":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"}},"joins":[{"dataSet":{"name":"TestRuby_Right"},"columnOptions":{},"joins":null}]}'
  recorded_at: Fri, 18 Aug 2017 03:08:18 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/views/TestRubyView_Data?page=0&pageSize=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315111.70 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"data":[{"sales":"2919.51","transactions":"431","timeStamp":"2012-12-31T00:00:00.0000000Z"},{"sales":"1288.6","transactions":"191","timeStamp":"2013-01-01T00:00:00.0000000Z"},{"sales":"2895.62","transactions":"443","timeStamp":"2013-01-02T00:00:00.0000000Z"},{"sales":"2997.13","transactions":"477","timeStamp":"2013-01-03T00:00:00.0000000Z"},{"sales":"3340.63","transactions":"499","timeStamp":"2013-01-04T00:00:00.0000000Z"},{"sales":"2254.3","transactions":"354","timeStamp":"2013-01-05T00:00:00.0000000Z[...]
