---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?endDate=1-4-2017&isestimate=false&startDate=1-3-2017&targetColumn=foo
    body:
      encoding: UTF-8
      string: "timestamp,foo\r\n1-1-2017,334.22\r\n1-2-2017,533.87"
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - text/csv
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.1 USD
      Nexosis-Account-Balance:
      - 1314914.3 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015cf057-8f1c-422b-9c1d-3f5423362fd5","type":"forecast","status":"requested","requestedDate":"2017-06-28T20:14:49.115896+00:00","statusHistory":[{"date":"2017-06-28T20:14:49.115896+00:00","status":"requested"}],"extraParameters":{},"columns":{"foo":{"dataType":"numeric","role":"target"},"timestamp":{"dataType":"date","role":"timestamp"}},"dataSetName":"forecast.015cf057-8f1c-422b-9c1d-3f5423362fd5","targetColumn":"foo","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-04T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015cf057-8f1c-422b-9c1d-3f5423362fd5/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/forecast.015cf057-8f1c-422b-9c1d-3f5423362fd5"}]}'
  recorded_at: Wed, 28 Jun 2017 20:14:50 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015cf057-8f1c-422b-9c1d-3f5423362fd5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Requested
      Nexosis-Account-Balance:
      - 1314914.3 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015cf057-8f1c-422b-9c1d-3f5423362fd5","type":"forecast","status":"requested","requestedDate":"2017-06-28T20:14:49.115896+00:00","statusHistory":[{"date":"2017-06-28T20:14:49.115896+00:00","status":"requested"}],"extraParameters":{},"columns":{"foo":{"dataType":"numeric","role":"target"},"timestamp":{"dataType":"date","role":"timestamp"}},"dataSetName":"forecast.015cf057-8f1c-422b-9c1d-3f5423362fd5","targetColumn":"foo","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-04T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015cf057-8f1c-422b-9c1d-3f5423362fd5/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/forecast.015cf057-8f1c-422b-9c1d-3f5423362fd5"}]}'
  recorded_at: Wed, 28 Jun 2017 20:14:51 GMT
[...]
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015cf057-8f1c-422b-9c1d-3f5423362fd5/results
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Completed
      Nexosis-Account-Balance:
      - 1314914.3 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"metrics":{},"data":[{"timestamp":"2017-01-03T00:00:00.0000000Z","foo":"533.87"}],"sessionId":"015cf057-8f1c-422b-9c1d-3f5423362fd5","type":"forecast","status":"completed","requestedDate":"2017-06-28T20:14:49.115896+00:00","statusHistory":[{"date":"2017-06-28T20:14:49.115896+00:00","status":"requested"},{"date":"2017-06-28T20:14:50.5442656+00:00","status":"started"},{"date":"2017-06-28T20:15:25.6514365+00:00","status":"completed"}],"extraParameters":{},"columns":{"foo":{"dataType":"numeric","role":"target"},"timestamp":{"dataType":"date","role":"timestamp"}},"dataSetName":"forecast.015cf057-8f1c-422b-9c1d-3f5423362fd5","targetColumn":"foo","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-04T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015cf057-8f1c-422b-9c1d-3f5423362fd5/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/forecast.015cf057-8f1c-422b-9c1d-3f5423362fd5"}]}'
  recorded_at: Wed, 28 Jun 2017 20:15:28 GMT
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/data/forecast.015cf057-8f1c-422b-9c1d-3f5423362fd5?cascade=session&endDate=&startDate=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Balance:
      - 1314914.3 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 28 Jun 2017 20:15:29 GMT
recorded_with: VCR 3.0.3
