---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/models?page=0&pageSize=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '25'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '888'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '84'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"columns":{"f1":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mode"},"f2":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mode"},"f3":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f4":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f5":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f6":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f7":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f8":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f9":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"id":{"dataType":"numeric","role":"none","imputation":"zeroes","aggregation":"sum"},"f10":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f13":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f14":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f15":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f16":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f17":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f18":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f19":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f20":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f21":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f22":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f23":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f24":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f25":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f26":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f27":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f28":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f29":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f30":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f31":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f32":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f33":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"f34":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"f35":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"f36":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f37":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"f38":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"f39":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f40":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f41":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f42":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f43":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f44":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f45":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f46":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f47":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f48":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f49":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f50":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f51":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f52":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f53":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f54":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f55":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f56":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f57":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f58":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f59":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f60":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f61":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f62":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f63":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f64":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f65":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f66":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f67":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f68":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f69":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f70":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f71":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f72":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f73":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f74":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f75":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f76":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f77":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f78":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f79":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f80":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f81":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f82":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f83":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f84":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f85":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f86":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f87":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f88":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f89":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f90":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f91":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f92":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f93":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f94":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f95":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f96":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f97":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f98":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f99":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f100":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f101":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f102":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f103":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f104":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f105":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f106":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f107":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f108":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f109":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f110":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f111":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f112":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f113":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f114":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f115":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f116":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f117":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f118":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f119":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f120":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f121":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f122":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f123":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f124":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f125":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f126":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f127":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f128":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f129":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f130":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f131":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f132":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f133":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f134":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f135":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f136":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f137":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f138":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f139":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f140":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f141":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f142":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f143":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f144":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f145":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f146":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f147":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f148":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f149":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f150":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f151":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f152":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f153":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f154":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f155":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f156":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f157":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f158":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f159":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f160":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f161":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f162":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f163":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f164":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f165":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f166":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f167":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f168":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f169":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f170":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f171":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f172":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f173":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f174":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f175":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f176":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f177":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f178":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f179":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f180":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f181":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f182":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f183":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f184":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f185":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f186":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f187":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f188":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f189":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f190":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f191":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f192":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f193":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f194":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f195":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f196":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f197":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f198":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f199":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f200":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f201":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f202":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f203":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f204":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f205":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f206":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f207":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f208":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f209":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f210":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f211":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f212":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f213":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f214":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f215":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f216":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f217":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f218":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f219":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f220":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f221":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f222":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f223":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f224":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f225":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f226":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f227":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f228":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f229":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f230":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f231":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f232":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f233":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f234":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f235":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f236":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f237":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f238":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f239":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f240":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f241":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f242":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f243":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f244":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f245":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f246":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f247":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f248":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f249":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f250":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f251":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f252":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f253":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f254":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f255":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f256":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f257":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f258":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f259":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f260":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f261":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f262":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f263":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f264":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f265":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f266":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f267":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f268":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f269":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f270":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f271":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f272":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f273":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f274":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f275":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f276":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f277":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f278":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f279":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f280":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f281":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f282":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f283":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f284":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f285":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f286":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f287":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f288":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f289":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f290":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f291":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f292":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f293":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f294":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f295":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f296":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f297":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f298":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f299":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f300":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f301":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f302":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f303":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f304":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f305":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f306":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f307":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f308":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f309":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f310":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f311":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f312":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f313":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f314":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f315":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f316":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f317":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f318":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f319":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f320":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f321":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f322":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f323":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f324":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f325":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f326":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f327":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f328":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f329":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"f330":{"d
[...]
