---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=&page=0&pageSize=20&requestedAfterDate=&requestedBeforeDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '25'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '74'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '10'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"columns":{"B":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"G":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"R":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"Color":{"dataType":"string","role":"target","imputation":"mode","aggregation":"mode"}},"sessionId":"016032e6-3e63-4cb4-a67d-c0105c420513","type":"model","status":"completed","predictionDomain":"classification","availablePredictionIntervals":[],"modelId":"7f12d046-6b50-4b65-9985-ee6dd1fa8d67","requestedDate":"2017-12-07T21:33:58.234112+00:00","statusHistory":[{"date":"2017-12-07T21:33:58.234112+00:00","status":"requested"},{"date":"2017-12-07T21:33:58.8250912+00:00","status":"started"},{"date":"2017-12-07T21:36:04.7865273+00:00","status":"completed"}],"extraParameters":{"balance":true},"messages":[{"severity":"informational","message":"138
        observations were found in the dataset."}],"dataSourceName":"RGB","dataSetName":"RGB","targetColumn":"color","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/016032e6-3e63-4cb4-a67d-c0105c420513/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/RGB"},{"rel":"model","href":"https://api.uat.nexosisdev.com/v1/models/7f12d046-6b50-4b65-9985-ee6dd1fa8d67"},{"rel":"confusionMatrix","href":"https://api.uat.nexosisdev.com/v1/sessions/016032e6-3e63-4cb4-a67d-c0105c420513/results/confusionmatrix"},{"rel":"classScores","href":"https://api.uat.nexosisdev.com/v1/sessions/016032e6-3e63-4cb4-a67d-c0105c420513/results/classScores"}]},{"columns":{"MPG":{"dataType":"numericMeasure","role":"target","imputation":"mean","aggregation":"sum"},"Make":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mode"},"Name":{"dataType":"string","role":"none","imputation":"mode","aggregation":"mode"},"Origin":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"sum"},"Weight":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"sum"},"Cylinders":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"sum"},"ModelYear":{"dataType":"numericMeasure","role":"feature","imputation":"mode","aggregation":"sum"},"Horsepower":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"sum"},"Acceleration":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"sum"},"Displacement":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"sum"}},"sessionId":"01603749-fe9c-4524-abeb-bcf2522cb330","type":"model","status":"completed","predictionDomain":"regression","availablePredictionIntervals":["0.5"],"modelId":"423a24e5-e2f5-40cb-bbc6-13cd1f0634d9","requestedDate":"2017-12-08T18:01:24.37754+00:00","statusHistory":[{"date":"2017-12-08T18:01:24.37754+00:00","status":"requested"},{"date":"2017-12-08T18:01:24.1515007+00:00","status":"started"},{"date":"2017-12-08T18:02:29.3933692+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"1592
        observations were found in the dataset."}],"dataSourceName":"Mpg","dataSetName":"Mpg","targetColumn":"MPG","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/01603749-fe9c-4524-abeb-bcf2522cb330/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/Mpg"},{"rel":"model","href":"https://api.uat.nexosisdev.com/v1/models/423a24e5-e2f5-40cb-bbc6-13cd1f0634d9"}]},{"columns":{"ny":{"dataType":"logical","role":"feature","imputation":"mode","aggregation":"mode"},"cali":{"dataType":"logical","role":"feature","imputation":"mode","aggregation":"mode"},"Profit":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"florida":{"dataType":"logical","role":"feature","imputation":"mode","aggregation":"mode"},"R.D.Spend":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"Administration":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"Marketing.Spend":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"sessionId":"01605700-8d2b-43ab-b279-13d36b9d19e9","type":"model","status":"completed","predictionDomain":"regression","availablePredictionIntervals":["0.5"],"modelId":"160bbaa3-5617-4a9d-ac21-ec883888c951","requestedDate":"2017-12-14T21:49:02.12144+00:00","statusHistory":[{"date":"2017-12-14T21:49:02.12144+00:00","status":"requested"},{"date":"2017-12-14T21:49:01.9563974+00:00","status":"started"},{"date":"2017-12-14T21:49:31.3144235+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"200
        observations were found in the dataset."}],"dataSourceName":"50Startups","dataSetName":"50Startups","targetColumn":"profit","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/01605700-8d2b-43ab-b279-13d36b9d19e9/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/50Startups"},{"rel":"model","href":"https://api.uat.nexosisdev.com/v1/models/160bbaa3-5617-4a9d-ac21-ec883888c951"}]},{"columns":{"Id":{"dataType":"numeric","role":"none","imputation":"zeroes","aggregation":"sum"},"Score1":{"dataType":"numeric","role":"none","imputation":"zeroes","aggregation":"sum"},"Score2":{"dataType":"numeric","role":"none","imputation":"zeroes","aggregation":"sum"},"AvgScore":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"EssaySet":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"EssayText":{"dataType":"text","role":"feature"}},"sessionId":"016098e5-d540-4f0d-a3fb-ae88e6366e8a","type":"model","status":"completed","predictionDomain":"regression","availablePredictionIntervals":["0.5"],"modelId":"804f8c99-c553-488e-a991-fd402bdc625a","requestedDate":"2017-12-27T16:54:47.358142+00:00","statusHistory":[{"date":"2017-12-27T16:54:47.358142+00:00","status":"requested"},{"date":"2017-12-27T16:54:47.1350275+00:00","status":"started"},{"date":"2017-12-27T17:35:30.6001041+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"17206
        observations were found in the dataset."}],"dataSourceName":"shortanswer1","dataSetName":"shortanswer1","targetColumn":"AvgScore","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/016098e5-d540-4f0d-a3fb-ae88e6366e8a/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/shortanswer1"},{"rel":"model","href":"https://api.uat.nexosisdev.com/v1/models/804f8c99-c553-488e-a991-fd402bdc625a"}]},{"columns":{"author":{"dataType":"string","role":"none","imputation":"mode","aggregation":"mode"},"content":{"dataType":"text","role":"feature"},"tweet_id":{"dataType":"numeric","role":"none","imputation":"zeroes","aggregation":"sum"},"sentiment":{"dataType":"string","role":"target","imputation":"mode","aggregation":"mode"}},"sessionId":"01609922-679e-4e38-8a42-6bc082674af6","type":"model","status":"completed","predictionDomain":"classification","availablePredictionIntervals":[],"modelId":"0e754ac4-45da-40b5-8313-bec7fd8be296","requestedDate":"2017-12-27T18:00:56.988779+00:00","statusHistory":[{"date":"2017-12-27T18:00:56.988779+00:00","status":"requested"},{"date":"2017-12-27T18:00:56.4659641+00:00","status":"started"},{"date":"2017-12-[...]
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/0160d654-877a-46ad-8783-caf2a02192cd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Completed
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '25'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '74'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '10'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"columns":{"sales":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"}},"sessionId":"0160d654-877a-46ad-8783-caf2a02192cd","type":"forecast","status":"completed","predictionDomain":"forecast","availablePredictionIntervals":["0.01","0.05","0.2","0.5","0.8","0.95","0.99"],"startDate":"2017-01-22T00:00:00+00:00","endDate":"2017-02-22T00:00:00+00:00","resultInterval":"day","requestedDate":"2018-01-08T15:12:32.120572+00:00","statusHistory":[{"date":"2018-01-08T15:12:32.120572+00:00","status":"requested"},{"date":"2018-01-08T15:12:32.8015811+00:00","status":"started"},{"date":"2018-01-08T15:24:20.6763123+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"1476
        daily observations were found in the dataset before 2017-02-22T23:59:59.9999999Z."}],"dataSourceName":"widget-sales","dataSetName":"widget-sales","targetColumn":"transactions","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/0160d654-877a-46ad-8783-caf2a02192cd/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/widget-sales"}]}'
  recorded_at: Tue, 09 Jan 2018 22:16:55 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/0160d654-877a-46ad-8783-caf2a02192cd/results?page=0&pageSize=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Completed
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '25'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '74'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '10'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"metrics":{"meanAbsoluteError":21.152655135053706,"meanAbsolutePercentError":1.802719894599248,"meanAbsoluteScaledError":0.13059751993079927,"rootMeanSquareError":26.5313878641732,"rSquared":0.9839492155847831},"data":[{"timeStamp":"2017-01-22T00:00:00.0000000Z","transactions":"245.236196883685","sales":"2080.45","transactions:actual":"281"},{"timeStamp":"2017-01-23T00:00:00.0000000Z","transactions":"45.3737927221749"},{"timeStamp":"2017-01-24T00:00:00.0000000Z","transactions":"23.8143701851842"},{"timeStamp":"2017-01-25T00:00:00.0000000Z","transactions":"17.7749328336094"},{"timeStamp":"2017-01-26T00:00:00.0000000Z","transactions":"29.9319188048313"},{"timeStamp":"2017-01-27T00:00:00.0000000Z","transactions"[...]
