---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/model
    body:
      encoding: UTF-8
      string: '{"dataSourceName":"TestRuby_NTS","targetColumn":"target","predictionDomain":"regression","isEstimate":false}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.00 USD
      Nexosis-Account-Balance:
      - 1315085.99 USD
    body:
      encoding: UTF-8
      string: '{"columns":{"key":{"dataType":"numeric","role":"key","imputation":"zeroes","aggregation":"sum"},"target":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"feature":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"sessionId":"015ef34c-cefe-4ee6-bcf6-ba43ec252c9b","type":"model","status":"requested","predictionDomain":"regression","requestedDate":"2017-10-06T20:07:30.814156+00:00","statusHistory":[{"date":"2017-10-06T20:07:30.814156+00:00","status":"requested"}],"extraParameters":{},"messages":[],"dataSourceName":"TestRuby_NTS","dataSetName":"TestRuby_NTS","targetColumn":"target","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015ef34c-cefe-4ee6-bcf6-ba43ec252c9b/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby_NTS"}]}'
  recorded_at: Fri, 06 Oct 2017 20:07:30 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015ef34c-cefe-4ee6-bcf6-ba43ec252c9b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Requested
      Nexosis-Account-Balance:
      - 1315085.99 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"columns":{"key":{"dataType":"numeric","role":"key","imputation":"zeroes","aggregation":"sum"},"target":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"feature":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"sessionId":"015ef34c-cefe-4ee6-bcf6-ba43ec252c9b","type":"model","status":"requested","predictionDomain":"regression","requestedDate":"2017-10-06T20:07:30.814156+00:00","statusHistory":[{"date":"2017-10-06T20:07:30.814156+00:00","status":"requested"}],"extraParameters":{},"messages":[],"dataSourceName":"TestRuby_NTS","dataSetName":"TestRuby_NTS","targetColumn":"target","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015ef34c-cefe-4ee6-bcf6-ba43ec252c9b/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby_NTS"}]}'
  recorded_at: Fri, 06 Oct 2017 20:07:31 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015ef34c-cefe-4ee6-bcf6-ba43ec252c9b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Completed
      Nexosis-Account-Balance:
      - 1315085.99 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"columns":{"key":{"dataType":"numeric","role":"key","imputation":"zeroes","aggregation":"sum"},"target":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"feature":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"sessionId":"015ef34c-cefe-4ee6-bcf6-ba43ec252c9b","type":"model","status":"completed","predictionDomain":"regression","modelId":"78243ea8-3954-4cca-a7e2-232c465d6c68","requestedDate":"2017-10-06T20:07:30.814156+00:00","statusHistory":[{"date":"2017-10-06T20:07:30.814156+00:00","status":"requested"},{"date":"2017-10-06T20:08:21.6424971+00:00","status":"started"},{"date":"2017-10-06T20:16:08.9494926+00:00","status":"completed"}],"extraParameters":{},"messages":[],"dataSourceName":"TestRuby_NTS","dataSetName":"TestRuby_NTS","targetColumn":"target","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015ef34c-cefe-4ee6-bcf6-ba43ec252c9b/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby_NTS"},{"rel":"model","href":"https://api.uat.nexosisdev.com/v1/models/78243ea8-3954-4cca-a7e2-232c465d6c68"}]}'
  recorded_at: Fri, 06 Oct 2017 20:16:15 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/models/78243ea8-3954-4cca-a7e2-232c465d6c68
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315085.99 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"columns":{"key":{"dataType":"numeric","role":"key","imputation":"zeroes","aggregation":"sum"},"target":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"feature":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"modelId":"78243ea8-3954-4cca-a7e2-232c465d6c68","sessionId":"015ef34c-cefe-4ee6-bcf6-ba43ec252c9b","predictionDomain":"regression","dataSourceName":"TestRuby_NTS","createdDate":"2017-10-06T20:15:55.7930764+00:00","algorithm":{"name":"Lasso
        Regression","description":"Lasso Regression","key":"lasso"},"metrics":{}}'
  recorded_at: Fri, 06 Oct 2017 20:16:15 GMT
recorded_with: VCR 3.0.3
