---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/data/TestRuby?endDate=&include=&page=0&pageSize=20&startDate=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1314873.86 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"dataSetName":"TestRuby","columns":{"sales":{"dataType":"numeric","role":null},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":null}},"data":[{"sales":"2919.51","timeStamp":"2012-12-31
        00:00:00","transactions":"431"},{"sales":"1288.6","timeStamp":"2013-01-01
        00:00:00","transactions":"191"},{"sales":"2895.62","timeStamp":"2013-01-02
        00:00:00","transactions":"443"},{"sales":"2997.13","timeStamp":"2013-01-03
        00:00:00","transactions":"477"},{"sales":"3340.63","timeStamp":"2013-01-04
        00:00:00","transactions":"499"},{"sales":"2254.3","timeStamp":"2013-01-05
        00:00:00","transactions":"354"},{"s[...]
