---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/api/data/TestRuby?endDate=&include=&page=0&pageSize=20&startDate=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315072.4 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"dataSetName":"TestRuby","data":[{"timestamp":"2012-12-31T00:00:00+00:00","values":{}},{"timestamp":"2013-01-01T00:00:00+00:00","values":{}},{"timestamp":"2013-01-02T00:00:00+00:00","values":{}},{"timestamp":"2013-01-03T00:00:00+00:00","values":{}},{"timestamp":"2013-01-04T00:00:00+00:00","values":{}},{"timestamp":"2013-01-05T00:00:00+00:00","values":{}},{"timestamp":"2013-01-06T00:00:00+00:00","values":{}},{"timestamp":"2013-01-07T00:00:00+00:00","values":{}},{"timestamp":"2013-01-08T00:00:00+00:00","values":{}},{"timestamp":"2013-01-09T00:00:00+00:00","values":{}},{"timestamp":"2013-01-10T00:00:00+00:00","values":{}},{"timestamp":"2013-01-11T00:00:00+00:00","values":{}},{"timestamp":"2013-01-12T00:00:00+00:00","values":{}},{"timestamp":"2013-01-13T00:00:00+00:00","values":{}},{"timestamp":"2013-01-14T00:00:00+00:00","values":{}},{"timestamp":"2013-01-15T00:00:00+00:00","values":{}},{"timestamp":"2013-01-16T00:00:00+00:00","values":{}},{"timestamp":"2013-01-17T00:00:00+00:00","values":{}},{"timestamp":"2013-01-18T00:00:00+00:00","values":{}},{"timestamp":"2013-01-19T00:00:00+00:00","values":{}}],"links":[{"rel":"forecast","href":"https://api.uat.nexosisdev.com/api/data/TestRuby/forecast"},{"rel":"model","href":"https://api.uat.nexosisdev.com/api/data/TestRuby/forecast/model"},{"rel":"sessions","href":"https://api.uat.nexosisdev.com/api/sessions?dataSetName=TestRuby"}]}'
  recorded_at: Fri, 16 Jun 2017 19:57:55 GMT
recorded_with: VCR 3.0.3
