---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/imports/url
    body:
      encoding: UTF-8
      string: '{"dataSetName":"URLImportRuby","url":"<blob_endpoint>/datatest/mpg/auto-mpg.data.json<sas_token>","columns":{}}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Import-Status:
      - Requested
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '45'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '11'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '110'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"importId":"0160467a-00ae-4769-b6a4-26e86c977490","type":"url","status":"requested","dataSetName":"URLImportRuby","parameters":{"url":"<blob_endpoint>/datatest/mpg/auto-mpg.data.json<sas_token>"},"requestedDate":"2017-12-11T16:48:08.877961+00:00","statusHistory":[{"date":"2017-12-11T16:48:08.877961+00:00","status":"requested"}],"messages":[],"columns":{},"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/imports/url"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/URLImportRuby"}]}'
  recorded_at: Mon, 11 Dec 2017 16:48:08 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/imports/0160467a-00ae-4769-b6a4-26e86c977490
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Import-Status:
      - Started
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
  [...]
[...]
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/data?page=0&pageSize=50&partialName=URLImportRuby
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '46'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '11'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '110'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"dataSetName":"URLImportRuby","dataSetSize":20618,"isTimeSeries":false,"columns":{"MPG":{"dataType":"numericMeasure","role":"target","imputation":"mean","aggregation":"mean"},"Make":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mode"},"Name":{"dataType":"string","role":"none","imputation":"mode","aggregation":"mode"},"Origin":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"sum"},"Weight":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"Cylinders":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"ModelYear":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mode"},"Horsepower":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"Acceleration":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"Displacement":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"}},"links":[{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/URLImportRuby"}]}],"pageNumber":0,"totalPages":1,"pageSize":50,"totalCount":1,"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/data?page=0&pageSize=50&partialName=URLImportRuby"},{"rel":"first","href":"https://api.uat.nexosisdev.com/v1/data?page=0&pageSize=50&partialName=URLImportRuby&page=0"},{"rel":"last","href":"https://api.uat.nexosisdev.com/v1/data?page=0&pageSize=50&partialName=URLImportRuby&page=0"}]}'
  recorded_at: Mon, 11 Dec 2017 16:48:14 GMT
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/data/URLImportRuby
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '45'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '11'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '110'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 11 Dec 2017 16:48:15 GMT
recorded_with: VCR 3.0.3
