---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/imports/s3
    body:
      encoding: UTF-8
      string: '{"dataSetName":"TestRuby_Json","bucket":"nexosis-sample-data","path":"LocationA.csv","region":"us-east-1","columns":{"timeStamp":{"dataType":"date","role":"timestamp","imputation":"","aggregation":""},"sales":{"dataType":"numeric","role":"target","imputation":"","aggregation":""},"transactions":{"dataType":"numeric","role":"none","imputation":"","aggregation":""}}}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Import-Status:
      - Requested
      Nexosis-Account-Balance:
      - 1315111.80 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"importId":"015df347-2657-4776-867c-2512802749de","type":"s3","status":"requested","dataSetName":"TestRuby_Json","parameters":{"bucket":"nexosis-sample-data","path":"LocationA.csv","region":"us-east-1"},"requestedDate":"2017-08-18T02:58:32.663597+00:00","statusHistory":[{"date":"2017-08-18T02:58:32.663597+00:00","status":"requested"}],"messages":[],"columns":{"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"sales":{"dataType":"numeric","role":"target","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":"none","imputation":null,"aggregation":null}},"links":[{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby_Json"}]}'
  recorded_at: Fri, 18 Aug 2017 02:58:32 GMT
recorded_with: VCR 3.0.3
