---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/imports/s3
    body:
      encoding: UTF-8
      string: '{"dataSetName":"TestRuby_JsonImport","bucket":"nexosis-sample-data","path":"LocationA.csv","region":"us-east-1","columns":{"timeStamp":{"dataType":"date","role":"timestamp","imputation":"","aggregation":""},"sales":{"dataType":"numeric","role":"target","imputation":"","aggregation":""},"transactions":{"dataType":"numeric","role":"none","imputation":"","aggregation":""}}}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Import-Status:
      - Requested
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '45'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '11'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '110'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"importId":"0160467b-615a-4adf-bea9-8b22722a3e70","type":"s3","status":"requested","dataSetName":"TestRuby_JsonImport","parameters":{"bucket":"nexosis-sample-data","path":"LocationA.csv","region":"us-east-1"},"requestedDate":"2017-12-11T16:49:39.161646+00:00","statusHistory":[{"date":"2017-12-11T16:49:39.161646+00:00","status":"requested"}],"messages":[],"columns":{"timeStamp":{"dataType":"date","role":"timestamp"},"sales":{"dataType":"numeric","role":"target"},"transactions":{"dataType":"numeric","role":"none"}},"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/imports/s3"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby_JsonImport"}]}'
  recorded_at: Mon, 11 Dec 2017 16:49:39 GMT
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/data/TestRuby_JsonImport?cascade=model
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '45'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '11'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '110'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 11 Dec 2017 16:49:59 GMT
recorded_with: VCR 3.0.3
