---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/imports/s3
    body:
      encoding: UTF-8
      string: '{"dataSetName":"S3SecureImportRuby","bucket":"nexosis-test","path":"dummytest_keyed.csv","region":"us-east-1","columns":{},"accessKeyId":"<aws_test_key>","secretAccessKey":"<aws_test_secret>"}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Import-Status:
      - Requested
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '45'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '11'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '110'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"importId":"0160467b-dc34-49d4-829e-3b6cfadf3591","type":"s3","status":"requested","dataSetName":"S3SecureImportRuby","parameters":{"bucket":"nexosis-test","path":"dummytest_keyed.csv","region":"us-east-1"},"requestedDate":"2017-12-11T16:50:10.612734+00:00","statusHistory":[{"date":"2017-12-11T16:50:10.612734+00:00","status":"requested"}],"messages":[],"columns":{},"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/imports/s3"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/S3SecureImportRuby"}]}'
  recorded_at: Mon, 11 Dec 2017 16:50:10 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/imports/0160467b-dc34-49d4-829e-3b6cfadf3591
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Import-Status:
      - Started
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
  [...]
[...]
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/data?page=0&pageSize=50&partialName=S3SecureImportRuby
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '46'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '11'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '110'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"dataSetName":"S3SecureImportRuby","dataSetSize":457196,"isTimeSeries":false,"columns":{"key":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"col1":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mode"},"col2":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mode"},"col3":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mode"},"col4":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mode"},"col5":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"col6":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"col7":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"col8":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"col9":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"col10":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"col11":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"col12":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"links":[{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/S3SecureImportRuby"}]}],"pageNumber":0,"totalPages":1,"pageSize":50,"totalCount":1,"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/data?page=0&pageSize=50&partialName=S3SecureImportRuby"},{"rel":"first","href":"https://api.uat.nexosisdev.com/v1/data?page=0&pageSize=50&partialName=S3SecureImportRuby&page=0"},{"rel":"last","href":"https://api.uat.nexosisdev.com/v1/data?page=0&pageSize=50&partialName=S3SecureImportRuby&page=0"}]}'
  recorded_at: Mon, 11 Dec 2017 16:50:21 GMT
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/data/S3SecureImportRuby
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '45'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '11'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '110'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 11 Dec 2017 16:50:22 GMT
recorded_with: VCR 3.0.3
