---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/imports/s3
    body:
      encoding: UTF-8
      string: '{"dataSetName":"TestRuby_Json","bucket":"nexosis-sample-data","path":"LocationA.csv","region":"us-east-1","columns":{"timeStamp":{"dataType":"date","role":"timestamp"},"sales":{"dataType":"numeric","role":"target"},"transactions":{"dataType":"numeric","role":"none"}}}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Import-Status:
      - Requested
      Nexosis-Account-Balance:
      - 1314909.62 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"importId":"015d087d-1681-4a3f-96a0-046eec1a5894","type":"s3","status":"requested","dataSetName":"TestRuby_Json","parameters":{"bucket":"nexosis-sample-data","path":"LocationA.csv","region":"us-east-1"},"requestedDate":"2017-07-03T12:46:41.79324+00:00","statusHistory":[{"date":"2017-07-03T12:46:41.79324+00:00","status":"requested"}],"messages":[],"columns":{"timeStamp":{"dataType":"date","role":"timestamp"},"sales":{"dataType":"numeric","role":"target"},"transactions":{"dataType":"numeric","role":"none"}},"links":[]}'
  recorded_at: Mon, 03 Jul 2017 12:46:51 GMT
recorded_with: VCR 3.0.3
