---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=&page=0&pageSize=50&requestedAfterDate=2017-06-14T00:00:00%2B00:00&requestedBeforeDate=2017-06-30T00:00:00%2B00:00&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '47'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '11'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '129'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[],"pageNumber":0,"totalPages":0,"pageSize":50,"totalCount":0,"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=&requestedAfterDate=2017-06-14T00%3A00%3A00%2B00%3A00&requestedBeforeDate=2017-06-30T00%3A00%3A00%2B00%3A00&type=&page=0&pageSize=50"},{"rel":"first","href":"https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=&requestedAfterDate=2017-06-14T00%3A00%3A00%2B00%3A00&requestedBeforeDate=2017-06-30T00%3A00%3A00%2B00%3A00&type=&page=0&pageSize=50&page=0"},{"rel":"last","href":"https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=&requestedAfterDate=2017-06-14T00%3A00%3A00%2B00%3A00&requestedBeforeDate=2017-06-30T00%3A00%3A00%2B00%3A00&type=&page=0&pageSize=50&page=-1"}]}'
  recorded_at: Mon, 11 Dec 2017 19:07:43 GMT
recorded_with: VCR 3.0.3
