---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=&page=0&pageSize=2&requestedAfterDate=&requestedBeforeDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '47'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '11'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '131'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"columns":{"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"sessionId":"015fda10-f5be-4fdd-958f-4ad2f8ca05d1","type":"forecast","status":"completed","predictionDomain":"forecast","availablePredictionIntervals":["0.5"],"startDate":"2015-05-01T00:00:00+00:00","endDate":"2015-06-01T00:00:00+00:00","resultInterval":"day","requestedDate":"2017-11-20T15:34:25.468488+00:00","statusHistory":[{"date":"2017-11-20T15:34:25.468488+00:00","status":"requested"},{"date":"2017-11-20T15:34:28.0989046+00:00","status":"started"},{"date":"2017-11-20T15:44:48.8728777+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"879
        daily observations were found in the dataset before 2015-06-01T23:59:59.9999999."}],"dataSourceName":"Location-A","dataSetName":"Location-A","targetColumn":"sales","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015fda10-f5be-4fdd-958f-4ad2f8ca05d1/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/Location-A"}]},{"columns":{"ny":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"cali":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Profit":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"florida":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"R.D.Spend":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"Administration":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"Marketing.Spend":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"sessionId":"015fe055-b076-4719-aa4f-6d9b47dfb9c6","type":"model","status":"completed","predictionDomain":"regression","availablePredictionIntervals":["0.5"],"modelId":"76271397-1aec-4167-bfab-0b05320cae68","requestedDate":"2017-11-21T20:47:13.012352+00:00","statusHistory":[{"date":"2017-11-21T20:47:13.012352+00:00","status":"requested"},{"date":"2017-11-21T20:47:13.0383666+00:00","status":"started"},{"date":"2017-11-21T20:47:43.9134508+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"200
        observations were found in the dataset."}],"dataSourceName":"50Startups","dataSetName":"50Startups","targetColumn":"profit","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015fe055-b076-4719-aa4f-6d9b47dfb9c6/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/50Startups"},{"rel":"model","href":"https://api.uat.nexosisdev.com/v1/models/76271397-1aec-4167-bfab-0b05320cae68"}]}],"pageNumber":0,"totalPages":8,"pageSize":2,"totalCount":15,"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=&requestedAfterDate=&requestedBeforeDate=&type=&page=0&pageSize=2"},{"rel":"first","href":"https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=&requestedAfterDate=&requestedBeforeDate=&type=&page=0&pageSize=2&page=0"},{"rel":"next","href":"https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=&requestedAfterDate=&requestedBeforeDate=&type=&page=0&pageSize=2&page=1"},{"rel":"last","href":"https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=&requestedAfterDate=&requestedBeforeDate=&type=&page=0&pageSize=2&page=7"}]}'
  recorded_at: Mon, 11 Dec 2017 19:07:47 GMT
[...]
