---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=&page=0&pageSize=3&requestedAfterDate=&requestedBeforeDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315108.21 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"sessionId":"015e1091-8934-4319-bec8-d4522c89a84c","type":"forecast","status":"completed","requestedDate":"2017-08-23T19:28:46.900554+00:00","statusHistory":[{"date":"2017-08-23T19:28:46.900554+00:00","status":"requested"},{"date":"2017-08-23T19:28:46.9507231+00:00","status":"started"},{"date":"2017-08-23T20:04:00.6348512+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"1213
        daily observations were found in the dataset between 2012-12-31T00:00:00.0000000Z
        and 2016-04-30T00:00:00.0000000Z."},{"severity":"informational","message":"1213
        daily observations were found in the dataset between 2010-11-09T00:00:00.0000000Z
        and 2016-04-30T00:00:00.0000000Z."}],"columns":{"Sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timestamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"dataSourceName":"LocationSalesMix","dataSetName":"LocationSalesMix","targetColumn":"sales","startDate":"2016-05-01T00:00:00+00:00","endDate":"2016-05-10T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015e1091-8934-4319-bec8-d4522c89a84c/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/LocationSalesMix"}]},{"sessionId":"015e10f5-feb7-4473-90e3-a80cc898709f","type":"forecast","status":"completed","requestedDate":"2017-08-23T21:18:30.583722+00:00","statusHistory":[{"date":"2017-08-23T21:18:30.583722+00:00","status":"requested"},{"date":"2017-08-23T21:18:31.788497+00:00","status":"started"},{"date":"2017-08-23T21:45:45.6462234+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"1213
        daily observations were found in the dataset between 2012-12-31T00:00:00.0000000Z
        and 2016-04-30T00:00:00.0000000Z."},{"severity":"informational","message":"1213
        daily observations were found in the dataset between 2010-11-09T00:00:00.0000000Z
        and 2016-04-30T00:00:00.0000000Z."}],"columns":{"Sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null}},"dataSourceName":"LocationSales","dataSetName":"LocationSales","targetColumn":"sales","startDate":"2016-05-01T00:00:00+00:00","endDate":"2016-05-10T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015e10f5-feb7-4473-90e3-a80cc898709f/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/LocationSales[...]
