---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=TestRuby&eventName=&page=0&pageSize=50&requestedAfterDate=&requestedBeforeDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315111.76 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"sessionId":"015df347-2d5d-4c57-bdeb-0b0ea279ff87","type":"forecast","status":"completed","requestedDate":"2017-08-18T02:58:34.461329+00:00","statusHistory":[{"date":"2017-08-18T02:58:34.461329+00:00","status":"requested"},{"date":"2017-08-18T02:58:34.3269116+00:00","status":"started"},{"date":"2017-08-18T03:05:59.568912+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"500
        daily observations were found in the dataset between 2012-12-31T00:00:00.0000000Z
        and 2014-05-19T00:00:00.0000000Z."},{"severity":"informational","message":"500
        daily observations were found in the dataset between 2008-11-27T00:00:00.0000000Z
        and 2014-05-19T00:00:00.0000000Z."}],"columns":{"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"}},"dataSourceName":"TestRuby","dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-20T00:00:00+00:00","endDate":"2014-05-21T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015df347-2d5d-4c57-bdeb-0b0ea279ff87/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]},{"sessionId":"015df347-2f88-44d0-9dc1-8fae7b1a1a56","type":"impact","status":"completed","requestedDate":"2017-08-18T02:58:35.01663+00:00","statusHistory":[{"date":"2017-08-18T02:58:35.01663+00:00","status":"requested"},{"date":"2017-08-18T02:58:34.8856184+00:00","status":"started"},{"date":"2017-08-18T03:03:57.4292202+00:00","status":"completed"}],"extraParameters":{"event":"test
        event"},"messages":[{"severity":"informational","message":"491 daily observations
        were found in the dataset  before 2014-05-10T00:00:00.0000000Z."}],"columns":{"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"dataSourceName":"TestRuby","dataSetName":"[...]
