---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/imports
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315111.80 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"importId":"015d1e7b-0d0d-4f56-82b6-7bf71a36128f","type":"s3","status":"completed","dataSetName":"Walmart","parameters":{"bucket":"nexosis-dataset","path":"walmarttrain.csv","region":"us-east-2"},"requestedDate":"2017-07-07T19:16:07.053037+00:00","statusHistory":[{"date":"2017-07-07T19:16:07.053037+00:00","status":"requested"},{"date":"2017-07-07T19:16:07.4067991+00:00","status":"started"},{"date":"2017-07-07T19:20:53.4538609+00:00","status":"completed"}],"messages":[],"columns":{},"links":[{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/Walmart"}]},{"importId":"015d769b-e30d-4c10-b0b2-7d22b3e1fe7d","type":"s3","status":"failed","dataSetName":"JavaTest","parameters":{"bucket":"NoBucket","path":"NoPath.csv","region":"No-Region"},"requestedDate":"2017-07-24T21:58:33.997743+00:00","statusHistory":[{"date":"2017-07-24T21:58:33.997743+00:00","status":"requested"},{"date":"2017-07-24T21:58:34.0202302+00:00","status":"started"},{"date":"2017-07-24T21:58:34.3466011+00:00","status":"failed"}],"messages":[{"severity":"error","message":"Unable
        to import file from S3 because we encountered an error"}],"columns":{},"links":[{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/JavaTest"}]},{"importId":"015d769c-430a-43ae-93d0-912cd001684c","type":"s3","status":"failed","dataSetName":"JavaTest-WillFail","parameters":{"bucket":"NoBucket","path":"NoPath.csv","region":"No-Region"},"requestedDate":"2017-07-24T21:58:58.570284+00:00","statusHistory":[{"date":"2017-07-24T21:58:58.570284+00:00","status":"requested"},{"date":"2017-07-24T21:58:57.7751306+00:00","status":"started"},{"date":"2017-07-24T21:58:58.0073796+00:00","status":"failed"}],"messages":[{"severity":"error","message":"Unable
        to import file from S3 because we encountered an error"}],"columns":{},"links":[{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/JavaTest-WillFail"}]},{"importId":"015d9a5d-5337-4b4f-b6f7-b62f0fc5c8b4","type":"s3","status":"completed","dataSetName":"BeijingHourly","parameters":{"bucket":"nexosis-samples","path":"beijing_data.csv","region":"us-east-2"},"requestedDate":"2017-07-31T20:36:33.719293+00:00","statusHistory":[{"date":"2017-07-31T20:36:33.719293+00:00","status":"requested"},{"date":"2017-07-31T20:36:34.4993443+00:00","status":"started"},{"date":"2017-07-31T20:37:30.1729245+00:00","status":"completed"}],"messages":[],"columns":{"reading":{"dataType":"numeric","role":"feature","imputation":null,"aggregation":null},"timestamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null}},"links":[{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/BeijingHourly"}]},{"importId":"015dc356-edd3-4a3a-9bdd-9921c3d3a2a9","type":"s3","status":"failed","dataSetName":"JavaTest-WillFail","parameters":{"bucket":"NoBucket","path":"NoPath.csv","region":"No-Region"},"requestedDate":"2017-08-08T19:34:00.403607+00:00","statusHistory":[{"date":"2017-08-08T19:34:00.403607+00:00","status":"requested"},{"date":"20[...]
