---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/data?partialName=Ruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1314873.86 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"dataSetName":"RubyTest2","columns":{}},{"dataSetName":"TestRuby","columns":{"sales":{"dataType":"numeric","role":null},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":null}}},{"dataSetName":"TestRuby_Json","columns":{"sales":{"dataType":"numeric","role":"none"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"none"}}}]}'
  recorded_at: Mon, 03 Jul 2017 19:40:17 GMT
recorded_with: VCR 3.0.3
