---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/api/sessions?dataSetName=&endDate=2017-06-15T00:00:00%2B00:00&eventName=&startDate=2017-06-14T00:00:00%2B00:00&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315096.44 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"sessionId":"015ca6f7-ca42-49de-9601-f5493a03cbfa","type":"forecast","status":"completed","statusHistory":[{"date":"2017-06-14T14:17:56.012548+00:00","status":"requested"},{"date":"2017-06-14T14:17:57.0034498+00:00","status":"started"},{"date":"2017-06-14T14:18:05.1763039+00:00","status":"completed"}],"extraParameters":{},"dataSetName":"RubyTest","targetColumn":"sales","startDate":"2017-01-22T00:00:00+00:00","endDate":"2017-02-22T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/api/sessions/015ca6f7-ca42-49de-9601-f5493a03cbfa/results"},{"rel":"model","href":"https://api.uat.nexosisdev.com/api/data/RubyTest/forecast/model/sales"},{"rel":"data","href":"https://api.uat.nexosisdev.com/api/data/RubyTest"}]},{"sessionId":"015ca6fa-65e3-4e94-ad04-c468aff201b3","type":"forecast","status":"completed","statusHistory":[{"date":"2017-06-14T14:20:46.94771+00:00","status":"requested"},{"date":"2017-06-14T14:20:47.0844054+00:00","status":"started"},{"[...]
