---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSourceName=TestRuby&page=0&pageSize=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '41'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '98'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '19'
      Nexosis-Account-Datasetsize-Allotted:
      - '500000000'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[],"pageNumber":0,"totalPages":0,"pageSize":50,"totalCount":0,"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/sessions?page=0&pageSize=50&dataSourceName=TestRuby"}]}'
  recorded_at: Mon, 09 Apr 2018 18:18:37 GMT
recorded_with: VCR 3.0.3
