---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?page=0&pageSize=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '41'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '98'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '19'
      Nexosis-Account-Datasetsize-Allotted:
      - '500000000'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"columns":{"VACBanned":{"dataType":"numericMeasure","role":"target","imputation":"mode","aggregation":"mode"},"win_ratio":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_aug":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_awp":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_mp7":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_mp9":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_p90":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_ak47":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_m249":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_m4a1":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_mag7":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_nova":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_p250":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_tec9":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"mvp_per_round":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_bizon":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_elite":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_famas":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_g3sg1":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_glock":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_mac10":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_negev":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_sg556":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_ssg08":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_ump45":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"total_accuracy":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_deagle":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_scar20":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_xm1014":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_galilar":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_hkp2000":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_sawedoff":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"total_games_owned":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"accuracy_fiveseven":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"kill_to_death_ratio":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"total_wins_per_hour":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"total_headshots_per_round":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"}},"sessionId":"01629ca7-ab2d-4c41-8e79-9e4c6b06304a","type":"model","status":"completed","predictionDomain":"classification","supportsFeatureImportance":true,"availablePredictionIntervals":[],"modelId":"fcb26cf8-bf3a-4caa-8949-333a211c5897","requestedDate":"2018-04-06T20:30:56.694926+00:00","statusHistory":[{"date":"2018-04-06T20:30:56.694926+00:00","status":"requested"},{"date":"2018-04-06T20:30:57.0956058+00:00","status":"started"},{"date":"2018-04-06T20:55:31.4911412+00:00","status":"completed"}],"extraParameters":{"balance":true},"messages":[{"severity":"informational","message":"1126
        observations were found in the dataset."}],"name":"Classification on CSGO_Small1","dataSourceName":"CSGO_Small1","dataSetName":"CSGO_Small1","targetColumn":"VACBanned","algorithm":{"name":"Random
        Forest","description":"Random Forest","key":""},"isEstimate":false,"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/sessions/01629ca7-ab2d-4c41-8e79-9e4c6b06304a"}]},{"columns":{"Age":{"dataType":"numeric","role":"feature","imputation":"mean","aggregation":"mean"},"Sex":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mode"},"Fare":{"dataType":"numeric","role":"feature","imputation":"mean","aggregation":"mean"},"Parch":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mean"},"SibSp":{"dataType":"numeric","role":"feature","imputation":"mean","aggregation":"mean"},"Pclass":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mean"},"Embarked":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mode"},"Survived":{"dataType":"string","role":"target","imputation":"mode","aggregation":"mode"}},"sessionId":"016291d3-9b5c-4bbe-905a-014e6d69c680","type":"model","status":"completed","predictionDomain":"classification","supportsFeatureImportance":true,"availablePredictionIntervals":[],"modelId":"c4d2ba94-63e2-4109-86d8-884e4de6ce1f","requestedDate":"2018-04-04T18:03:06.941098+00:00","statusHistory":[{"date":"2018-04-04T18:03:06.941098+00:00","status":"requested"},{"date":"2018-04-04T18:03:35.5352427+00:00","status":"started"},{"date":"2018-04-04T19:17:10.07077+00:00","status":"completed"}],"extraParameters":{"balance":true},"messages":[{"severity":"warning","message":"You
        specified aggregation ''mean'' for column ''Parch'', which may have unintended
        consequences since the column contains string values"},{"severity":"warning","message":"You
        specified aggregation ''mean'' for column ''Pclass'', which may have unintended
        consequences since the column contains string values"},{"severity":"informational","message":"1781
        observations were found in the dataset."}],"name":"Classification on titanic","dataSourceName":"titanic","dataSetName":"titanic","targetColumn":"Survived","algorithm":{"name":"XGBoost
        L1","description":"eXtreme Gradient Boosting with Lasso regularization","key":""},"isEstimate":false,"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/sessions/016291d3-9b5c-4bbe-905a-014e6d69c680"}]}],"pageNumber":0,"totalPages":23,"pageSize":2,"totalCount":46,"links":[{"rel":"first","href":"https://api.uat.nexosisdev.com/v1/sessions?page=0&pageSize=2&page=0"},{"rel":"next","href":"https://api.uat.nexosisdev.com/v1/sessions?page=0&pageSize=2&page=1"},{"rel":"last","href":"https://api.uat.nexosisdev.com/v1/sessions?page=0&pageSize=2&page=22"},{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/sessions?page=0&pageSize=2"}]}'
  recorded_at: Mon, 09 Apr 2018 18:28:07 GMT
[...]
