---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=test%20event&page=0&pageSize=50&requestedAfterDate=&requestedBeforeDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1331598.47 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[],"pageNumber":0,"totalPages":0,"pageSize":50,"totalCount":0,"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=test%20event&requestedAfterDate=&requestedBeforeDate=&type=&page=0&pageSize=50"},{"rel":"first","href":"https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=test%20event&requestedAfterDate=&requestedBeforeDate=&type=&page=0&pageSize=50&page=0"},{"rel":"last","href":"https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=test%20event&requestedAfterDate=&requestedBeforeDate=&type=&page=0&pageSize=50&page=-1"}]}'
  recorded_at: Fri, 27 Oct 2017 15:04:59 GMT
recorded_with: VCR 3.0.3
