---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=test%20event&page=0&pageSize=50&requestedAfterDate=&requestedBeforeDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315111.76 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"sessionId":"015df347-2f88-44d0-9dc1-8fae7b1a1a56","type":"impact","status":"completed","requestedDate":"2017-08-18T02:58:35.01663+00:00","statusHistory":[{"date":"2017-08-18T02:58:35.01663+00:00","status":"requested"},{"date":"2017-08-18T02:58:34.8856184+00:00","status":"started"},{"date":"2017-08-18T03:03:57.4292202+00:00","status":"completed"}],"extraParameters":{"event":"test
        event"},"messages":[{"severity":"informational","message":"491 daily observations
        were found in the dataset  before 2014-05-10T00:00:00.0000000Z."}],"columns":{"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"dataSourceName":"TestRuby","dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-01T00:00:00+00:00","endDate":"2014-05-10T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015df347-2f88-44d0-9dc1-8fae7b1a1a56/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}]}'
  recorded_at: Fri, 18 Aug 2017 03:08:07 GMT
recorded_with: VCR 3.0.3
