---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/models?page=0&pageSize=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315087.87 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"columns":{"key":{"dataType":"numeric","role":"key","imputation":"zeroes","aggregation":"sum"},"target":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"feature":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"modelId":"00832cc9-2f4b-4f88-8ee3-19d65d7114ec","sessionId":"015eea70-d692-4de1-bd11-943a43b7ed15","predictionDomain":"regression","dataSourceName":"Dummy","createdDate":"2017-10-05T05:17:22.3324844+00:00","algorithm":{"name":"Lasso
        Regression","description":"Lasso Regression","key":"lasso"},"metrics":{}},{"columns":{"day":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"hour":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"temp":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"year":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"month":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"power":{"dataType":"numericMeasure","role":"target","imputation":"mean","aggregation":"mean"},"weekday":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"weekend":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"humidity":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"}},"modelId":"0dcf8adf-3ccf-4505-8cdd-c2adc2154ae8","sessionId":"015ee8b7-7f6d-475f-b242-4ba6f31edc76","predictionDomain":"regression","dataSourceName":"PowerData","createdDate":"2017-10-04T19:20:27.3124045+00:00","algorithm":{"name":"Lasso
        Regression","description":"Lasso Regression","key":"lasso"},"metrics":{"meanAbsoluteError":272828.91410457582,"meanAbsolutePercentError":18507.056382200528,"rootMeanSquareError":346754.69432181539}},{"columns":{"key":{"dataType":"numeric","role":"key","imputation":"zeroes","aggregation":"sum"},"target":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"feature":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"modelId":"11b17053-8128-43ce-9fea-bdf0747ddd9a","sessionId":"015eea70-d8af-4c4c-b9dd-df437a859a3d","predictionDomain":"regression","dataSourceName":"Dummy","createdDate":"2017-10-05T05:17:22.3481391+00:00","algorithm":{"name":"Lasso
        Regression","description":"Lasso Regression","key":"lasso"},"metrics":{}},{"columns":{"MoSold":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"PoolQC":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"YrSold":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"LotArea":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"MiscVal":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"BsmtCond":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"BsmtQual":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"FullBath":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"HalfBath":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"LotShape":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"PoolArea":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"PoolQCEx":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"PoolQCFa":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"PoolQCGd":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"AlleyGrvl":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"AlleyNone":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"AlleyPave":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtUnfSF":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"ExterCond":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"ExterQual":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"FenceGdWo":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FenceMnWw":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FenceNone":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GrLivArea":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"HeatingQC":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"LandSlope":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"SalePrice":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"X1stFlrSF":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"X2ndFlrSF":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"YearBuilt":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"BsmtCondFa":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtCondGd":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtCondPo":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtCondTA":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtFinSF1":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"BsmtFinSF2":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"BsmtQualEx":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtQualFa":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtQualGd":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtQualTA":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FenceGdPrv":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FenceMnPrv":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Fireplaces":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"GarageArea":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"GarageCars":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"GarageCond":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"GarageQual":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"MSZoningFV":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSZoningRH":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSZoningRL":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSZoningRM":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MasVnrArea":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"PoolQCNone":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"SaleTypeWD":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"StreetGrvl":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"StreetPave":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"WoodDeckSF":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"X3SsnPorch":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"CentralAirN":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"CentralAirY":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"ExterCondEx":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"ExterCondFa":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"ExterCondGd":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"ExterCondPo":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"ExterCondTA":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"ExterQualEx":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"ExterQualFa":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"ExterQualGd":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"ExterQualTA":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FireplaceQu":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"GarageYrBlt":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"HeatingGasA":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"HeatingGasW":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"HeatingGrav":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"HeatingOthW":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"HeatingQCEx":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"HeatingQCFa":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"HeatingQCGd":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"HeatingQCPo":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"HeatingQCTA":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"HeatingWall":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"KitchenQual":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"LotFrontage":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"LotShapeIR1":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"LotShapeIR2":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"LotShapeIR3":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"LotShapeReg":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OpenPorchSF":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"OverallCond":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"OverallQual":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"PavedDriveN":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"PavedDriveP":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"PavedDriveY":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"SaleTypeCOD":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"SaleTypeCWD":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"SaleTypeCon":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"SaleTypeNew":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"SaleTypeOth":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"ScreenPorch":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"TotalBsmtSF":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"BedroomAbvGr":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"BldgType1Fam":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtCondNone":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtExposure":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"BsmtFullBath":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"BsmtHalfBath":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"BsmtQualNone":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageCondEx":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageCondFa":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageCondGd":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageCondPo":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageCondTA":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageFinish":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"GarageQualEx":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageQualFa":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageQualGd":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageQualPo":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageQualTA":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"HeatingFloor":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"KitchenAbvGr":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"LandSlopeGtl":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"LandSlopeMod":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"LandSlopeSev":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"LotConfigFR2":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"LotConfigFR3":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"LowQualFinSF":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"MSSubClass_1":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSSubClass_2":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSSubClass_3":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSSubClass_4":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSSubClass_5":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSSubClass_6":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSSubClass_7":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSSubClass_8":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSSubClass_9":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallCond1":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallCond2":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallCond3":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallCond4":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallCond5":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallCond6":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallCond7":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallCond8":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallCond9":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallQual1":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallQual2":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallQual3":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallQual4":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallQual5":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallQual6":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallQual7":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallQual8":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallQual9":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"RoofMatlRoll":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"RoofStyleHip":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"TotRmsAbvGrd":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"YearRemodAdd":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"BldgTypeTwnhs":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"ElectricalMix":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"EnclosedPorch":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"FireplaceQuEx":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FireplaceQuFa":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FireplaceQuGd":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FireplaceQuPo":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FireplaceQuTA":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FunctionalMod":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FunctionalSev":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FunctionalTyp":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"KitchenQualEx":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"KitchenQualFa":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"KitchenQualGd":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"KitchenQualTA":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSSubClass_10":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSSubClass_11":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSSubClass_12":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSSubClass_13":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSSubClass_14":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSSubClass_15":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallCond10":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"OverallQual10":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"RoofMatlMetal":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"RoofStyleFlat":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"RoofStyleShed":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"SaleTypeConLD":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"SaleTypeConLI":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"SaleTypeConLw":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BldgType2fmCon":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BldgTypeDuplex":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BldgTypeTwnhsE":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtExposureAv":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtExposureGd":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtExposureMn":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtExposureNo":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Condition1Norm":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Condition1PosA":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Condition1PosN":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Condition1RRAe":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Condition1RRAn":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Condition1RRNe":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Condition1RRNn":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Condition2Norm":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Condition2PosA":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Condition2PosN":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Condition2RRAe":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Condition2RRAn":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Condition2RRNn":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FoundationSlab":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FoundationWood":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FunctionalMaj1":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FunctionalMaj2":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FunctionalMin1":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FunctionalMin2":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageCondNone":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageQualNone":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageTypeNone":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"HouseStyleSLvl":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"LandContourBnk":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"LandContourHLS":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"LandContourLow":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"LandContourLvl":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MasVnrTypeNone":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"RoofStyleGable":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtFinType1ALQ":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtFinType1BLQ":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtFinType1GLQ":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtFinType1LwQ":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtFinType1Rec":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtFinType1Unf":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtFinType2ALQ":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtFinType2BLQ":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtFinType2GLQ":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtFinType2LwQ":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtFinType2Rec":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtFinType2Unf":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Condition1Feedr":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Condition2Feedr":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"ElectricalFuseA":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"ElectricalFuseF":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"ElectricalFuseP":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"ElectricalSBrkr":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"FireplaceQuNone":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FoundationPConc":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FoundationStone":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageFinishFin":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageFinishRFn":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageFinishUnf":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"LotConfigCorner":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"LotConfigInside":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MSZoningC..all.":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MasVnrTypeStone":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"MiscFeatureGar2":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MiscFeatureNone":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MiscFeatureOthr":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MiscFeatureShed":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"MiscFeatureTenC":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"RoofMatlClyTile":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"RoofMatlCompShg":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"RoofMatlMembran":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"RoofMatlTar.Grv":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"RoofMatlWdShake":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"RoofMatlWdShngl":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"UtilitiesAllPub":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"UtilitiesNoSeWa":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtExposureNone":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtFinType1None":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"BsmtFinType2None":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Condition1Artery":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Condition2Artery":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Exterior1stStone":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Exterior2ndOther":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"Exterior2ndStone":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FoundationBrkTil":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"FoundationCBlock":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageFinishNone":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageType2Types":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageTypeAttchd":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"GarageTypeDetchd":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"HouseStyle1.5Fin":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"HouseStyle1.5Unf":{"dataType":"numeric","role":"feature","imputation":"mode","aggregation":"mode"},"HouseStyle1Story":{"dataType":"numeric","role"
[...]
