---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/api/sessions?dataSetName=&endDate=&eventName=test%20event&startDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315096.44 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"sessionId":"015ca7fc-84c3-433e-9ceb-fddadca8c23b","type":"impact","status":"completed","statusHistory":[{"date":"2017-06-14T19:02:43.139551+00:00","status":"requested"},{"date":"2017-06-14T19:02:43.4745194+00:00","status":"started"},{"date":"2017-06-14T19:15:36.5993905+00:00","status":"completed"}],"extraParameters":{"event":"test
        event"},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2016-05-01T00:00:00+00:00","endDate":"2016-05-10T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/api/sessions/015ca7fc-84c3-433e-9ceb-fddadca8c23b/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/api/data/TestRuby"}]},{"sessionId":"015ca7ff-b610-4e4e-969f-c7cc8889468a","type":"impact","status":"completed","statusHistory":[{"date":"2017-06-14T19:06:12.368004+00:00","status":"requested"},{"date":"2017-06-14T19:06:12.7200183+00:00","status":"started"},{"date":"2017-06-14T19:28:31.1735121+00:00","status":"completed"}],"extraParameters":{"event":"tes[...]
