---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/data?partialName=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315111.86 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"dataSetName":"BeijingHourly","columns":{"reading":{"dataType":"numericMeasure","role":"target","imputation":null,"aggregation":null},"timestamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null}}},{"dataSetName":"ChangeType","columns":{"sales":{"dataType":"numeric","role":"target","imputation":null,"aggregation":null},"category":{"dataType":"string","role":"none","imputation":null,"aggregation":null},"timestamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}}},{"dataSetName":"data-sessions-integration","columns":{"observed":{"dataType":"numeric","role":"target","imputation":null,"aggregation":null},"timestamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null}}},{"dataSetName":"EnvDataNoMetadata","columns":{"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"co2PpmMean":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"},"globalTemp":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"},"sunspotsSum":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"}}},{"dataSetName":"EnvironmentData2","columns":{"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"co2PpmMean":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"globalTemp":{"dataType":"numericMeasure","role":"target","imputation":"mean","aggregation":"mean"},"sunspotsSum":{"dataType":"numericMeasure","role":"none","imputation":"mean","aggregation":"mean"}}},{"dataSetName":"EnvironmentDataImputed","columns":{"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"co2PpmMean":{"dataType":"numeric","role":"feature","imputation":null,"aggregation":null},"globalTemp":{"dataType":"numeric","role":"target","imputation":null,"aggregation":null},"sunspotsSum":{"dataType":"numeric","role":"none","imputation":null,"aggregation":null}}},{"dataSetName":"LocationSales","columns":{"Sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null}}},{"dataSetName":"LocationTransactions","columns":{"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"}}},{"dataSetName":"TestHeader","columns":{"column1":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"column2":{"dataType":"numeric","role":null,"imputation":null,"aggregation":null},"column3":{"dataType":"numeric","role":null,"imputation":null,"aggregation":null}}},{"dataSetName":"testJavascript","columns":{"time":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"es6-client":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"}}},{"dataSetName":"testJavascript2","columns":{"time":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"es6-client":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"}}},{"dataSetName":"test-python-import","columns":{"sales":{"dataType":"numeric","role":null,"imputation":null,"aggregation":null},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":null,"imputation":null,"aggregation":null}}},{"dataSetName":"TestRuby","columns":{"sales":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"}}},{"dataSetName":"TestRuby_Json","columns":{"sales":{"dataType":"numeric","role":"none","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":"none","imputation":"zeroes","aggregation":"sum"}}},{"dataSetName":"TinyData","columns":{"foo":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timestamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null}}},{"dataSetName":"ToRemoveRuby","columns":{"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timestamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null}}}]}'
  recorded_at: Fri, 18 Aug 2017 02:58:21 GMT
recorded_with: VCR 3.0.3
