---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/api/sessions?dataSetName=&endDate=&eventName=&startDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315096.44 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"sessionId":"015c35da-3b3a-472a-ab51-ccd61aede7e4","type":"forecast","status":"completed","statusHistory":[{"date":"2017-05-23T15:08:33.447173+00:00","status":"requested"},{"date":"2017-05-23T15:08:33.8813946+00:00","status":"started"},{"date":"2017-05-23T16:22:11.2516079+00:00","status":"completed"}],"extraParameters":{},"dataSetName":"loaderloadtest","targetColumn":"sales","startDate":"2017-01-23T00:00:00+00:00","endDate":"2017-02-23T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/api/sessions/015c35da-3b3a-472a-ab51-ccd61aede7e4/results"},{"rel":"model","href":"https://api.uat.nexosisdev.com/api/data/loaderloadtest/forecast/model/sales"},{"rel":"data","href":"https://api.uat.nexosisdev.com/api/data/loaderloadtest"}]},{"sessionId":"015c35da-3c0e-4a66-8ad5-b71668bfb21f","type":"forecast","status":"completed","statusHistory":[{"date":"2017-05-23T15:08:33.678525+00:00","status":"requested"},{"date":"2017-05-23T15:08:33.8970194+00:00","status":[...]
