---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=TestRuby&eventName=&page=0&pageSize=50&requestedAfterDate=&requestedBeforeDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1331598.47 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"columns":{"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","imputation":"zeroes","aggregation":"sum"}},"sessionId":"015f5e59-e650-4660-a7b2-dab32405d1ef","type":"forecast","status":"completed","availablePredictionIntervals":["0.01","0.05","0.2","0.5","0.8","0.95","0.99"],"startDate":"2014-05-20T00:00:00+00:00","endDate":"2014-05-25T00:00:00+00:00","resultInterval":"day","requestedDate":"2017-10-27T15:01:10.864773+00:00","statusHistory":[{"date":"2017-10-27T15:01:10.864773+00:00","status":"requested"},{"date":"2017-10-27T15:01:11.7851669+00:00","status":"started"},{"date":"2017-10-27T15:04:42.0386559+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"500
        daily observations were found in the dataset before 2014-05-25T00:00:00.0000000."}],"dataSourceName":"TestRuby","dataSetName":"TestRuby","targetColumn":"sales","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015f5e59-e650-4660-a7b2-dab32405d1ef/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}],"pageNumber":0,"totalPages":1,"pageSize":50,"totalCount":1,"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/sessions?dataSetName=TestRuby&eventName=&requestedAfterDate=&requestedBeforeDate=&type=&page=0&pageSize=50"},{"rel":"first","href":"https://api.uat.nexosisdev.com/v1/sessions?dataSetName=TestRuby&eventName=&requestedAfterDate=&requestedBeforeDate=&type=&page=0&pageSize=50&page=0"},{"rel":"last","href":"https://api.uat.nexosisdev.com/v1/sessions?dataSetName=TestRuby&eventName=&requestedAfterDate=&requestedBeforeDate=&type=&page=0&pageSize=50&page=0"}]}'
  recorded_at: Fri, 27 Oct 2017 15:04:58 GMT
recorded_with: VCR 3.0.3
