---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=test%20event&requestedAfterDate=&requestedBeforeDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1314914.3 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"sessionId":"015cac7e-280f-4e28-bfb1-cf96b2ba4dda","type":"impact","status":"started","requestedDate":"2017-06-15T16:02:47.951715+00:00","statusHistory":[{"date":"2017-06-15T16:02:47.951715+00:00","status":"requested"},{"date":"2017-06-15T16:02:48.0932932+00:00","status":"started"}],"extraParameters":{"event":"test
        event"},"columns":{},"dataSetName":"impact.015cac7e-280f-4e28-bfb1-cf96b2ba4dda","targetColumn":"sales","startDate":"2017-01-02T00:00:00+00:00","endDate":"2017-01-05T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":null,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015cac7e-280f-4e28-bfb1-cf96b2ba4dda/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/impact.015cac7e-280f-4e28-bfb1-cf96b2ba4dda"}]},{"sessionId":"015cacfd-9309-496c-9228-2429df41e686","type":"impact","status":"started","requestedDate":"2017-06-15T18:21:58.409331+00:00","statusHistory":[{"date":"2017-06-15T18:21:58.409331+00:00","status":"requested"},{"date":"2017-06-15T18:21:59.8280902+00:00","status":"started"}],"extraParameter[...]
