---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/data?partialName=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1314923.1 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"dataSetName":"DaasdflySasdfalessdf","columns":{}},{"dataSetName":"DailySales","columns":{}},{"dataSetName":"DailySales.015c6557-1dca-44a0-a038-4927992af6f6","columns":{}},{"dataSetName":"DailySales.015c655b-0e5d-4273-a1cb-b9fcf737cf02","columns":{}},{"dataSetName":"GeneratedJson1","columns":{}},{"dataSetName":"GeneratedJson100K","columns":{}},{"dataSetName":"GeneratedJson10K","columns":{}},{"dataSetName":"Location-A","columns":{"sales":{"dataType":"numeric","role":"target"},"timestamp":{"dataType":"date","role":"timestamp"}}},{"dataSetName":"RubyTest2","columns":{}},{"dataSetName":"TestRuby","columns":{"sales":{"dataType":"numeric","role":null},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":null}}},{"dataSetName":"TestRuby_Json","columns":{"sales":{"dataType":"numeric","role":"none"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"none"}}},{"dataSetName":"TestTest","columns":{}}]}'
  recorded_at: Wed, 28 Jun 2017 20:14:34 GMT
recorded_with: VCR 3.0.3
