---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=TestRuby&eventName=&requestedAfterDate=&requestedBeforeDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1314878.04 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"sessionId":"015d09f6-3bcc-4831-894d-f42247e9ad1a","type":"impact","status":"started","requestedDate":"2017-07-03T19:38:38.412273+00:00","statusHistory":[{"date":"2017-07-03T19:38:38.412273+00:00","status":"requested"},{"date":"2017-07-03T19:38:38.7239852+00:00","status":"started"}],"extraParameters":{"event":"test
        event"},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"feature"}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-01T00:00:00+00:00","endDate":"2014-05-10T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d09f6-3bcc-4831-894d-f42247e9ad1a/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}]}'
  recorded_at: Mon, 03 Jul 2017 19:39:22 GMT
recorded_with: VCR 3.0.3
