---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/api/sessions?dataSetName=TestRuby&endDate=&eventName=&startDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315096.44 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"sessionId":"015c83b2-d9cb-4e6f-8b39-a673c9c82bf1","type":"impact","status":"completed","statusHistory":[{"date":"2017-06-07T17:55:55.467759+00:00","status":"requested"},{"date":"2017-06-07T17:55:55.4955962+00:00","status":"started"},{"date":"2017-06-07T18:08:29.3992783+00:00","status":"completed"}],"extraParameters":{"event":"Some
        Event"},"dataSetName":"TestRuby","targetColumn":"transactions","startDate":"2016-05-01T00:00:00+00:00","endDate":"2016-05-10T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/api/sessions/015c83b2-d9cb-4e6f-8b39-a673c9c82bf1/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/api/data/TestRuby"}]},{"sessionId":"015c83f8-f21e-4634-bf21-c5732d201d6a","type":"forecast","status":"completed","statusHistory":[{"date":"2017-06-07T19:12:29.208981+00:00","status":"requested"},{"date":"2017-06-07T19:12:32.6356011+00:00","status":"started"},{"date":"2017-06-07T19:23:02.9619031+00:00","status":"completed"}],"extraParameters":{},"dataSet[...]
