---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/vocabulary?page=0&pageSize=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '31'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '1045'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '100'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"id":"6e0d9884-a5a5-4a30-b9f1-fea8380be51e","dataSourceName":"AirlineTweets","columnName":"text","dataSourceType":"dataSet","createdOnDate":"2018-01-22T19:25:18.6662961+00:00","createdBySessionId":"01611f54-7568-4a52-8693-a6c3d77b3964","links":[{"rel":"words","href":"https://api.uat.nexosisdev.com/v1/vocabulary/6e0d9884-a5a5-4a30-b9f1-fea8380be51e"}]},{"id":"69994d84-429d-4ba9-8151-98f16dcb30c9","dataSourceName":"AirlineTweets_Reduced","columnName":"text","dataSourceType":"dataSet","createdOnDate":"2018-01-26T13:25:29.2002864+00:00","createdBySessionId":"016132a4-c8d0-47f2-ac9c-3658f50828cc","links":[{"rel":"words","href":"https://api.uat.nexosisdev.com/v1/vocabulary/69994d84-429d-4ba9-8151-98f16dcb30c9"}]},{"id":"b6e4345f-b114-45ca-a7a7-ad90748459be","data[...]
