---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=TestRuby&eventName=&requestedAfterDate=&requestedBeforeDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1314914.3 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"sessionId":"015cf057-7c0b-468d-b9e8-1e3161b61fda","type":"forecast","status":"completed","requestedDate":"2017-06-28T20:14:44.23475+00:00","statusHistory":[{"date":"2017-06-28T20:14:44.23475+00:00","status":"requested"},{"date":"2017-06-28T20:14:44.5285472+00:00","status":"started"},{"date":"2017-06-28T20:15:14.7303634+00:00","status":"completed"}],"extraParameters":{},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":null}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2017-01-22T00:00:00+00:00","endDate":"2017-02-22T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015cf057-7c0b-468d-b9e8-1e3161b61fda/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]},{"sessionId":"015cf057-7e21-4520-8ca9-deb92387b403","type":"impact","status":"started","requestedDate":"2017-06-28T20:14:44.769102+00:00","statusHistory":[{"date":"2017-06-28T20:14:44.769102+00:00","status":"requested"},{"date":"2017-06-28T20:14:45.075499+00:00","status":"started"}],"extraParameters":{"event":"test
        event"},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"feature"}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-01T00:00:00+00:00","endDate":"2014-05-10T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015cf057-7e21-4520-8ca9-deb92387b403/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]}]}'
  recorded_at: Wed, 28 Jun 2017 20:15:29 GMT
recorded_with: VCR 3.0.3
