---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=&page=0&pageSize=3&requestedAfterDate=&requestedBeforeDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1331598.47 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"columns":{"Sessions":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timestamp":{"dataType":"date","role":"timestamp"}},"sessionId":"015e9b6f-578d-4458-81f0-c0176f276173","type":"forecast","status":"completed","availablePredictionIntervals":[],"startDate":"2017-08-17T23:00:00+00:00","endDate":"2017-08-18T23:00:00+00:00","resultInterval":"hour","requestedDate":"2017-09-19T18:38:38.989263+00:00","statusHistory":[{"date":"2017-09-19T18:38:38.989263+00:00","status":"requested"},{"date":"2017-09-19T18:38:38.9178127+00:00","status":"started"},{"date":"2017-09-19T19:11:11.4798041+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"66863
        hourly observations were found in the dataset between 2010-01-01T00:00:00.0000000Z
        and 2017-08-17T22:00:00.0000000Z."},{"severity":"informational","message":"2000
        hourly observations were found in the dataset between 2017-05-26T15:00:00.0000000Z
        and 2017-08-17T22:00:00.0000000Z."}],"dataSourceName":"WebTraffic-Full","dataSetName":"WebTraffic-Full","targetColumn":"sessions","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015e9b6f-578d-4458-81f0-c0176f276173/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/WebTraffic-Full"}]},{"columns":{"Backlog":{"dataType":"numeric","imputation":"zeroes","aggregation":"sum"},"Blocked":{"dataType":"numeric","role":"none","imputation":"zeroes","aggregation":"sum"},"StatDate":{"dataType":"date","role":"timestamp"},"InQAReview":{"dataType":"numeric","role":"none","imputation":"zeroes","aggregation":"sum"},"ReadyforDev":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"InCodeReview":{"dataType":"numeric","role":"none","imputation":"zeroes","aggregation":"sum"},"WaitingforQA":{"dataType":"numeric","role":"none","imputation":"zeroes","aggregation":"sum"},"ForCodeReview":{"dataType":"numeric","role":"none","imputation":"zeroes","aggregation":"sum"},"InDevelopment":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"}},"sessionId":"015e9b73-fd96-4d0c-98c5-a54516219185","type":"forecast","status":"completed","availablePredictionIntervals":[],"startDate":"2017-08-25T00:00:00+00:00","endDate":"2017-10-01T00:00:00+00:00","resultInterval":"day","requestedDate":"2017-09-19T18:43:43.638188+00:00","statusHistory":[{"date":"2017-09-19T18:43:43.638188+00:00","status":"requested"},{"date":"2017-09-19T18:43:44.0627145+00:00","status":"starte[...]
