---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/imports
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1314853.71 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"importId":"015d0866-219a-434d-bef6-39cfd20d353a","type":"s3","status":"requested","dataSetName":"TestRuby_Json","parameters":{"bucket":"nexosis-sample-data","path":"LocationA.csv","region":"us-east-1"},"requestedDate":"2017-07-03T12:21:37.283569+00:00","statusHistory":[{"date":"2017-07-03T12:21:37.283569+00:00","status":"requested"}],"messages":[],"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"none"}},"links":[{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby_Json"}]},{"importId":"015d0877-49b0-4a68-ac37-cab05233b435","type":"s3","status":"requested","dataSetName":"TestRuby_Json","parameters":{"bucket":"nexosis-sample-data","path":"LocationA.csv","region":"us-east-1"},"requestedDate":"2017-07-03T12:40:21.680674+00:00","statusHistory":[{"date":"2017-07-03T12:40:21.680674+00:00","status":"requested"}],"messages":[],"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","[...]
