---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/data?partialName=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315172.66 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"dataSetName":"BeijingHourly","columns":{"reading":{"dataType":"numeric","role":"target","imputation":null,"aggregation":null},"timestamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null}}},{"dataSetName":"ChangeType","columns":{"sales":{"dataType":"numeric","role":"target","imputation":null,"aggregation":null},"category":{"dataType":"string","role":"feature","imputation":null,"aggregation":null},"timestamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":"feature","imputation":null,"aggregation":null}}},{"dataSetName":"charley","columns":{"hotel":{"dataType":"numeric","role":"target","imputation":null,"aggregation":null},"timestamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null}}},{"dataSetName":"data-sessions-integration","columns":{"observed":{"dataType":"numeric","role":"target","imputation":null,"aggregation":null},"timestamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null}}},{"dataSetName":"EnvDataNoMetadata","columns":{"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"co2PpmMean":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"},"globalTemp":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"},"sunspotsSum":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"}}},{"dataSetName":"EnvironmentDataImputed","columns":{"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"co2PpmMean":{"dataType":"numeric","role":"feature","imputation":null,"aggregation":null},"globalTemp":{"dataType":"numeric","role":"target","imputation":null,"aggregation":null},"sunspotsSum":{"dataType":"numeric","role":"none","imputation":null,"aggregation":null}}},{"dataSetName[...]
