---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=&page=0&pageSize=2&requestedAfterDate=&requestedBeforeDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315111.73 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"sessionId":"015d5647-faad-4b40-9892-d7d64edde19c","type":"forecast","status":"completed","requestedDate":"2017-07-18T15:19:04.109157+00:00","statusHistory":[{"date":"2017-07-18T15:19:04.109157+00:00","status":"requested"},{"date":"2017-07-18T15:19:04.0139652+00:00","status":"started"},{"date":"2017-07-18T15:20:31.3904242+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"92
        daily observations were found in the dataset between 2008-06-01T00:00:00.0000000Z
        and 2008-08-31T00:00:00.0000000Z."},{"severity":"informational","message":"92
        daily observations were found in the dataset between 2003-09-01T00:00:00.0000000
        and 2008-08-31T00:00:00.0000000."}],"columns":{"observed":{"dataType":"numeric","role":"target","imputation":null,"aggregation":null},"timestamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null}},"dataSourceName":"data-sessions-integration","dataSetName":"data-sessions-integration","targetColumn":"observed","startDate":"2008-09-01T00:00:00+00:00","endDate":"2008-09-30T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d5647-faad-4b40-9892-d7d64edde19c/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/data-sessions-integration"}]},{"sessionId":"015d991d-e3e8-4bb2-a7cd-17867adb3d3d","type":"forecast","status":"failed","requestedDate":"2017-07-31T14:47:39.223396+00:00","statusHistory":[{"date":"2017-07-31T14:47:39.223396+00:00","status":"requested"},{"date":"2017-07-31T14:47:39.0478691+00:00","status":"started"},{"date":"2017-07-31T14:47:49.8938436+00:00","status":"failed"}],"extraParameters":{},"messages":[{"severity":"error","message":"Some
        values in column ''category'' are inconsistent with column metadata: You specified
        column type ''Numeric'', but we could not successfully convert all values
        in this column to that type. Please check your data for formatting issues."}],"columns":{"sales":{"dataType":"numeric","role":"target","imputation":null,"aggregation":null},"category":{"dataType":"numeric","role":"feature","imputation":null,"aggregation":null},"timestamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"string","role":"feature","imputation":null,"aggregation":null}},"dataSourceName":"ChangeType","dataSetName":"ChangeType","targetColumn":"sales","startDate":"2017-01-23T00:00:00+00:00","endDate":"2017-01-25T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d991d-e3e8-4bb2-a7cd-17867adb3d3d/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/ChangeType"}]}]}'
  recorded_at: Fri, 18 Aug 2017 03:08:13 GMT
[...]
