---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=TestRuby&eventName=&requestedAfterDate=&requestedBeforeDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315035.22 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"sessionId":"015ce5ed-9c75-4296-930b-21f4ed0faf44","type":"forecast","status":"completed","requestedDate":"2017-06-26T19:42:53.556751+00:00","statusHistory":[{"date":"2017-06-26T19:42:53.556751+00:00","status":"requested"},{"date":"2017-06-26T19:42:53.982367+00:00","status":"started"},{"date":"2017-06-26T19:43:21.4221152+00:00","status":"completed"}],"extraParameters":{},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"none"}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2017-01-22T00:00:00+00:00","endDate":"2017-02-22T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/api/sessions/015ce5ed-9c75-4296-930b-21f4ed0faf44/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/api/data/TestRuby"}]},{"sessionId":"015ce5ed-9e86-48ff-b9ec-78cbdbd6932a","type":"impact","status":"started","requestedDate":"2017-06-26T19:42:54.086393+00:00","statusHistory":[{"date":"2017-06-26T19:42:54.086393+00:00","status":"requested"},{"date":"2017-06-26T19:42:54.5172939+00:00","status":"started"}],"extraParameters":{"event":"test
        event"},"columns":{"sales":{"dataType":"numeric","role":"target"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"none"}},"dataSetName":"TestRuby","targetColumn":"sales","startDate":"2014-05-01T00:00:00+00:00","endDate":"2014-05-10T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/api/sessions/015ce5ed-9e86-48ff-b9ec-78cbdbd6932a/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/api/data/TestRuby"}]}]}'
  recorded_at: Mon, 26 Jun 2017 19:43:41 GMT
recorded_with: VCR 3.0.3
