---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=TestRuby&eventName=&page=0&pageSize=50&requestedAfterDate=&requestedBeforeDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '47'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '11'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '129'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"columns":{"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"sessionId":"016046f6-6c97-4c99-acd3-b4efd332b389","type":"impact","status":"started","eventName":"test
        event","predictionDomain":"impact","availablePredictionIntervals":["0.5"],"startDate":"2014-05-01T00:00:00+00:00","endDate":"2014-05-10T00:00:00+00:00","resultInterval":"day","requestedDate":"2017-12-11T19:04:02.965151+00:00","statusHistory":[{"date":"2017-12-11T19:04:02.965151+00:00","status":"requested"},{"date":"2017-12-11T19:04:02.271373+00:00","status":"started"}],"extraParameters":{"event":"test
        event"},"messages":[{"severity":"informational","message":"490 daily observations
        were found in the dataset before 2014-05-10T23:59:59.9999999Z."}],"dataSourceName":"TestRuby","dataSetName":"TestRuby","targetColumn":"sales","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/016046f6-6c97-4c99-acd3-b4efd332b389/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby"}]},{"columns":{"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp"},"transactions":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"sessionId":"016046f6-7019-46d0-8d15-26606e239eb1","type":"forecast","status":"comple[...]
