---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/model
    body:
      encoding: UTF-8
      string: '{"dataSourceName":"TestRuby_NTS","predictionDomain":"anomalies","extraParameters":{"containsAnomalies":true},"columns":{}}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '43'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '14'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '11'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"columns":{"ny":{"dataType":"numericMeasure","role":"feature","imputation":"mode","aggregation":"mode"},"cali":{"dataType":"numericMeasure","role":"feature","imputation":"mode","aggregation":"mode"},"Profit":{"dataType":"numericMeasure","role":"none","imputation":"mean","aggregation":"mean"},"florida":{"dataType":"numericMeasure","role":"feature","imputation":"mode","aggregation":"mode"},"R.D.Spend":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"Administration":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"Marketing.Spend":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"anomaly":{"dataType":"numeric","role":"target"}},"sessionId":"01629b42-1d28-4274-bd29-df22de21cafd","type":"model","status":"requested","predictionDomain":"anomalies","supportsFeatureImportance":false,"availablePredictionIntervals":[],"requestedDate":"2018-04-06T14:00:24.065521+00:00","statusHistory":[{"date":"2018-04-06T14:00:24.065521+00:00","status":"requested"}],"extraParameters":{"containsAnomalies":true},"messages":[{"severity":"warning","message":"Anomaly
        detection sessions do not accept a target column. Instead, they always store
        their results in a column named ''anomaly''Anomaly detection sessions let
        you find outliers in a data source, and they populate the this column with
        a negative or positive value indicating whether each row is an anomaly or
        not. If you want to use the target values you specified for labeled anomaly
        detection, create a classification session instead of an anomalies session."}],"name":"Anomalies
        on TestRuby_NTS","dataSourceName":"TestRuby_NTS","dataSetName":"TestRuby_NTS","targetColumn":"anomaly","isEstimate":false,"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/sessions/01629b42-1d28-4274-bd29-df22de21cafd"}]}'
  recorded_at: Fri, 06 Apr 2018 14:00:24 GMT
recorded_with: VCR 3.0.3
