---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/model
    body:
      encoding: UTF-8
      string: '{"dataSourceName":"TestRuby_NTS","predictionDomain":"anomalies","extraParameters":{"containsAnomalies":true},"columns":{}}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '30'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '31'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '4'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"columns":{"key":{"dataType":"numeric","role":"key","imputation":"zeroes","aggregation":"sum"},"target":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"feature":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"sessionId":"0160c84e-effd-4d46-bfe8-ddfdd0a3a7e5","type":"model","status":"requested","predictionDomain":"anomalies","availablePredictionIntervals":[],"requestedDate":"2018-01-05T21:51:44.634902+00:00","statusHistory":[{"date":"2018-01-05T21:51:44.634902+00:00","status":"requested"}],"extraParameters":{"containsAnomalies":true},"messages":[{"severity":"warning","message":"Target
        column ''target'' exists in data source ''TestRuby_NTS''. Anomaly detection
        sessions let you find outliers in a data source, and they populate the session''s
        target column with a negative or positive value indicating whether each row
        is an anomaly or not. The target column values in the data source won''t influence
        the results of the session, like they would for other session types. If you
        want to use these target values for labeled anomaly detection, create a classification
        session instead of an anomalies session."}],"dataSourceName":"TestRuby_NTS","dataSetName":"TestRuby_NTS","targetColumn":"target","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/0160c84e-effd-4d46-bfe8-ddfdd0a3a7e5/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby_NTS"}]}'
  recorded_at: Fri, 05 Jan 2018 21:51:44 GMT
recorded_with: VCR 3.0.3
