---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/models?dataSourceName=iris&page=0&pageSize=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '25'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '716'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '73'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"columns":{"iris":{"dataType":"string","role":"target","imputation":"mode","aggregation":"mode"},"petal_len":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"sepal_len":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"petal_width":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"sepal_width":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"modelId":"20eede36-509f-4717-bef0-7ee150bb476b","sessionId":"0160ffc8-54a3-4a88-a60c-889152f1dd7e","predictionDomain":"classification","dataSourceName":"Iris","createdDate":"2018-01-16T16:37:21.2611376+00:00","algorithm":{"name":"K-Nearest
        Neighbors","description":"K-Nearest Neighbors","key":"knn"},"metrics":{"macroAverageF1Score":1.0,"accuracy":1.0,"macroAveragePrecision":1.0,"macroAverageRecall":1.0,"matthewsCorrelationCoefficient":1.0},"links":[{"rel":"train","href":"https://api.uat.nexosisdev.com/v1/sessions/0160ffc8-54a3-4a88-a60c-889152f1dd7e"}]},{"columns":{"iris":{"dataType":"string","role":"target","imputation":"mode","aggregation":"mode"},"petal_len":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"sepal_len":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"petal_width":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"sepal_width":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"modelId":"ce8fb89b-b4f9-4876-9900-987ca0f60da3","sessionId":"0160fbcd-2537-40bf-85fe-b2ddc031aaa5","predictionDomain":"classification","dataSourceName":"Iris","createdDate":"2018-01-15T21:51:15.8415677+00:00","algorithm":{"name":"K-Nearest
        Neighbors","description":"K-Nearest Neighbors","key":"knn"},"metrics":{"macroAverageF1Score":1.0,"accuracy":1.0,"macroAveragePrecision":1.0,"macroAverageRecall":1.0,"matthewsCorrelationCoefficient":1.0},"links":[{"rel":"train","href":"https://api.uat.nexosisdev.com/v1/sessions/0160fbcd-2537-40bf-85fe-b2ddc031aaa5"}]}],"pageNumber":0,"totalPages":1,"pageSize":50,"totalCount":2,"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/models?page=0&pageSize=50&dataSourceName=iris"},{"rel":"first","href":"https://api.uat.nexosisdev.com/v1/models?page=0&pageSize=50&dataSourceName=iris&page=0"},{"rel":"last","href":"https://api.uat.nexosisdev.com/v1/models?page=0&pageSize=50&dataSourceName=iris&page=0"}]}'
  recorded_at: Tue, 16 Jan 2018 19:05:48 GMT
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/models/20eede36-509f-4717-bef0-7ee150bb476b/predict
    body:
      encoding: UTF-8
      string: '{"data":[{"sepal_len":5.1,"sepal_width":3.5,"petal_len":1.4,"petal_width":0.2}],"extraParameters":{}}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '25'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '717'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '73'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"data":[{"sepal_len":"5.1","sepal_width":"3.5","petal_len":"1.4","petal_width":"0.2","iris":"setosa"}],"messages":[],"modelId":"20eede36-509f-4717-bef0-7ee150bb476b","sessionId":"0160ffc8-54a3-4a88-a60c-889152f1dd7e","predictionDomain":"classification","dataSourceName":"Iris","createdDate":"2018-01-16T16:37:21.2611376+00:00","algorithm":{"name":"K-Nearest
        Neighbors","description":"K-Nearest Neighbors","key":"knn"},"metrics":{"macroAverageF1Score":1.0,"accuracy":1.0,"macroAveragePrecision":1.0,"macroAverageRecall":1.0,"matthewsCorrelationCoefficient":1.0},"links":[]}'
  recorded_at: Tue, 16 Jan 2018 19:05:59 GMT
recorded_with: VCR 3.0.3
