---
http_interactions:
- request:
    method: put
    uri: https://api.uat.nexosisdev.com/v1/views/TestRubyView_Remove
    body:
      encoding: UTF-8
      string: '{"dataSetName":"TestRuby","joins":[{"dataSet":{"name":"TestRuby_Right"}}]}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://gateway.uat.nexosisdev.com/views/TestRubyView_Remove
      Nexosis-Account-Balance:
      - 1315111.70 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"viewName":"TestRubyView_Remove","dataSetName":"TestRuby","columns":{"sales":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"},"timeStamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null},"transactions":{"dataType":"numeric","role":null,"imputation":"zeroes","aggregation":"sum"}},"joins":[{"dataSet":{"name":"TestRuby_Right"},"columnOptions":{},"joins":null}]}'
  recorded_at: Fri, 18 Aug 2017 03:08:17 GMT
[...]
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/views?page=0&pageSize=50&partialName=TestRubyView_Remove
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1315111.70 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[]}'
  recorded_at: Fri, 18 Aug 2017 03:08:18 GMT
recorded_with: VCR 3.0.3
