---
http_interactions:
- request:
    method: put
    uri: https://api.uat.nexosisdev.com/v1/data/ToRemove
    body:
      encoding: UTF-8
      string: timestamp,foo\r\n1-1-2017,223.33\r\n1-2-2017,345.31
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - text/csv
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://gateway.uat.nexosisdev.com/data/ToRemove
      Nexosis-Request-Cost:
      - 0.01 USD
      Nexosis-Account-Balance:
      - 1315087.00 USD
    body:
      encoding: UTF-8
      string: '{"dataSetName":"ToRemove","isTimeSeries":false,"columns":{}}'
  recorded_at: Fri, 06 Oct 2017 17:51:38 GMT
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=ToRemove&endDate=1-4-2017&isestimate=false&resultInterval=day&startDate=1-3-2017&targetColumn=foo
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Balance:
      - 1315087.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":500,"message":"An unexpected error occurred","errorType":"ServerError","errorDetails":{"exception":{"type":"System.NullReferenceException","data":{},"message":"Object
        reference not set to an instance of an object.","source":"Axon.Kernel","stackTrace":"   at
        Axon.Kernel.DataSetColumnMetadataExtensions.<>c.<ExtendAndValidate>b__6_6(KeyValuePair`2
        kv) in /var/jenkins/workspace/axonapimaster/src/Axon.Kernel/DataSetColumnMetadataExtensions.cs:line
        101\n   at System.Linq.Enumerable.WhereEnumerableIterator`1.MoveNext()\n   at
        Axon.Linq.EnumerableExtensions.ForEach[TSource](IEnumerable`1 source, Action`1
        action) in /var/jenkins/workspace/axonapimaster/src/Axon.Utilities/Linq/EnumerableExtensions.cs:line
        35\n   at Axon.Kernel.DataSetColumnMetadataExtensions.ExtendAndValidate(Dictionary`2
        destination, IReadOnlyDictionary`2[] sources) in /var/jenkins/workspace/axonapimaster/src/Axon.Kernel/DataSetColumnMetadataExtensions.cs:line
        99\n   at Axon.Api.Session.SessionController.<>c__DisplayClass29_0`1.<MergeColumnMetadata>b__3(Dictionary`2
        extendedColumns) in /var/jenkins/workspace/axonapimaster/src/Axon.Api/Axon.Api/Session/SessionController.cs:line
        720\n   at LanguageExt.Either`2.Match[Ret](Func`2 Right, Func`2 Left, Func`1
        Bottom)\n   at LanguageExt.ClassInstances.MEither`2.Bind[MONADB,MB,B](Either`2
        ma, Func`2 f)\n   at LanguageExt.Either`2.Bind[Ret](Func`2 binder)\n   at
        Axon.Api.Session.SessionController.MergeColumnMetadata[T](T session, SessionData
        body) in /var/jenkins/workspace/axonapimaster/src/Axon.Api/Axon.Api/Session/SessionController.cs:line
        681\n   at Axon.Api.Session.SessionController.PostForecastSessionAsync(String
        dataSourceName, String targetColumn, Nullable`1 startDate, Nullable`1 endDate,
        Nullable`1 resultInterval, Uri callbackUrl, Nullable`1 isEstimate, ForecastSessionData
        forecastSessionData) in /var/jenkins/workspace/axonapimaster/src/Axon.Api/Axon.Api/Session/SessionController.cs:line
        443\n   at lambda_method(Closure , Object , Object[] )\n   at Microsoft.AspNetCore.Mvc.Internal.ObjectMethodExecutor.Execute(Object
        target, Object[] parameters)\n   at Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker.<InvokeActionMethodAsync>d__27.MoveNext()\n---
        End of stack trace from previous location where exception was thrown ---\n   at
        System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\n   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\n   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()\n   at
        Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker.<InvokeNextActionFilterAsync>d__25.MoveNext()\n---
        End of stack trace from previous location where exception was thrown ---\n   at
        System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\n   at Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker.Rethrow(ActionExecutedContext
        context)\n   at Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker.Next(State&
        next, Scope& scope, Object& state, Boolean& isCompleted)\n   at Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker.<InvokeNextResourceFilter>d__22.MoveNext()\n---
        End of stack trace from previous location where exception was thrown ---\n   at
        System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\n   at Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker.Rethrow(ResourceExecutedContext
        context)\n   at Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker.Next(State&
        next, Scope& scope, Object& state, Boolean& isCompleted)\n   at Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker.<InvokeAsync>d__20.MoveNext()\n---
        End of stack trace from previous location where exception was thrown ---\n   at
        System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\n   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\n   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()\n   at
        Microsoft.AspNetCore.Builder.RouterMiddleware.<Invoke>d__4.MoveNext()\n---
        End of stack trace from previous location where exception was thrown ---\n   at
        System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\n   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\n   at Axon.Api.AccountBalanceHeaderMiddleware.<Invoke>d__3.MoveNext()
        in /var/jenkins/workspace/axonapimaster/src/Axon.Api/Axon.Api/AccountBalanceHeaderMiddleware.cs:line
        41\n--- End of stack trace from previous location where exception was thrown
        ---\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\n   at
        System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\n   at System.Runtime.CompilerServices.TaskAwaiter.GetResult()\n   at
        Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware.<Invoke>d__6.MoveNext()"}}}'
  recorded_at: Fri, 06 Oct 2017 17:51:38 GMT
recorded_with: VCR 3.0.3
