---
http_interactions:
- request:
    method: put
    uri: https://api.uat.nexosisdev.com/v1/data/ToRemove
    body:
      encoding: UTF-8
      string: "timestamp,foo\r\n1-1-2017,223.33\r\n1-2-2017,345.31"
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - text/csv
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://gateway.uat.nexosisdev.com/data/ToRemove
      Nexosis-Request-Cost:
      - 0.01 USD
      Nexosis-Account-Balance:
      - 1314923.07 USD
    body:
      encoding: UTF-8
      string: '{"dataSetName":"ToRemove","columns":{"foo":{"dataType":"numeric","role":"target"},"timestamp":{"dataType":"date","role":"timestamp"}}}'
  recorded_at: Wed, 28 Jun 2017 20:14:37 GMT
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=ToRemove&endDate=1-4-2017&isestimate=false&startDate=1-3-2017&targetColumn=foo
    body:
      encoding: UTF-8
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.1 USD
      Nexosis-Account-Balance:
      - 1314922.97 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015cf057-5bc9-4d2e-8d6c-e24e43a8612d","type":"forecast","status":"requested","requestedDate":"2017-06-28T20:14:35.977064+00:00","statusHistory":[{"date":"2017-06-28T20:14:35.977064+00:00","status":"requested"}],"extraParameters":{},"columns":{"foo":{"dataType":"numeric","role":"target"},"timestamp":{"dataType":"date","role":"timestamp"}},"dataSetName":"ToRemove","targetColumn":"foo","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-04T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015cf057-5bc9-4d2e-8d6c-e24e43a8612d/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/ToRemove"}]}'
  recorded_at: Wed, 28 Jun 2017 20:14:37 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015cf057-5bc9-4d2e-8d6c-e24e43a8612d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Started
      Nexosis-Account-Balance:
      - 1314922.97 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015cf057-5bc9-4d2e-8d6c-e24e43a8612d","type":"forecast","status":"started","requestedDate":"2017-06-28T20:14:35.977064+00:00","statusHistory":[{"date":"2017-06-28T20:14:35.977064+00:00","status":"requested"},{"date":"2017-06-28T20:14:36.215994+00:00","status":"started"}],"extraParameters":{},"columns":{"foo":{"dataType":"numeric","role":"target"},"timestamp":{"dataType":"date","role":"timestamp"}},"dataSetName":"ToRemove","targetColumn":"foo","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-04T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015cf057-5bc9-4d2e-8d6c-e24e43a8612d/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/ToRemove"}]}'
  recorded_at: Wed, 28 Jun 2017 20:14:37 GMT
[...]
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/data/ToRemove?cascade=session&endDate=&startDate=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Balance:
      - 1314922.97 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 28 Jun 2017 20:14:43 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/data/ToRemove?endDate=&include=&page=0&pageSize=50&startDate=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Balance:
      - 1314922.97 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":404,"message":"Item of type dataSet with identifier ToRemove
        was not found","errorType":"NotFound","errorDetails":{"itemType":"dataSet","itemId":"ToRemove","companyId":"36774fba-a391-4078-af36-b5adf6a17a87"}}'
  recorded_at: Wed, 28 Jun 2017 20:14:43 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015cf057-5bc9-4d2e-8d6c-e24e43a8612d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Balance:
      - 1314922.97 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":404,"message":"Item of type session with identifier 015cf057-5bc9-4d2e-8d6c-e24e43a8612d
        was not found","errorType":"NotFound","errorDetails":{"itemType":"session","itemId":"015cf057-5bc9-4d2e-8d6c-e24e43a8612d","companyId":"36774fba-a391-4078-af36-b5adf6a17a87"}}'
  recorded_at: Wed, 28 Jun 2017 20:14:43 GMT
recorded_with: VCR 3.0.3
