---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?endDate=01-05-2017&isestimate=false&startDate=01-03-2017&targetColumn=sales
    body:
      encoding: UTF-8
      string: "timestamp,sales\r\n01-01-2017,234.45\r\n01-02-2017,343.22"
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - text/csv
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.2 USD
      Nexosis-Account-Balance:
      - 1314914.09 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015cf058-350e-465a-816f-d27527d94930","type":"forecast","status":"requested","requestedDate":"2017-06-28T20:15:31.598723+00:00","statusHistory":[{"date":"2017-06-28T20:15:31.598723+00:00","status":"requested"}],"extraParameters":{},"columns":{"sales":{"dataType":"numeric","role":"target"},"timestamp":{"dataType":"date","role":"timestamp"}},"dataSetName":"forecast.015cf058-350e-465a-816f-d27527d94930","targetColumn":"sales","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-05T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015cf058-350e-465a-816f-d27527d94930/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/forecast.015cf058-350e-465a-816f-d27527d94930"}]}'
  recorded_at: Wed, 28 Jun 2017 20:15:33 GMT
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=forecast.015cf058-350e-465a-816f-d27527d94930&endDate=&eventName=&startDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Balance:
      - 1314914.09 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 28 Jun 2017 20:15:33 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015cf058-350e-465a-816f-d27527d94930
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Balance:
      - 1314914.09 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":404,"message":"Item of type session with identifier 015cf058-350e-465a-816f-d27527d94930
        was not found","errorType":"NotFound","errorDetails":{"itemType":"session","itemId":"015cf058-350e-465a-816f-d27527d94930","companyId":"36774fba-a391-4078-af36-b5adf6a17a87"}}'
  recorded_at: Wed, 28 Jun 2017 20:15:33 GMT
recorded_with: VCR 3.0.3
