---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/models?dataSourceName=iris&page=0&pageSize=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '25'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '976'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '96'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"columns":{"iris":{"dataType":"string","role":"target","imputation":"mode","aggregation":"mode"},"petal_len":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"sepal_len":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"petal_width":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"sepal_width":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"modelId":"20eede36-509f-4717-bef0-7ee150bb476b","sessionId":"0160ffc8-54a3-4a88-a60c-889152f1dd7e","predictionDomain":"classification","dataSourceName":"Iris","createdDate":"2018-01-16T16:37:21.2611376+00:00","algorithm":{"name":"K-Nearest
        Neighbors","description":"K-Nearest Neighbors","key":"knn"},"metrics":{"macroAverageF1Score":1.0,"accuracy":1.0,"macroAveragePrecision":1.0,"macroAverageRecall":1.0,"matthewsCorrelationCoefficient":1.0},"links":[{"rel":"train","href":"https://api.uat.nexosisdev.com/v1/sessions/0160ffc8-54a3-4a88-a60c-889152f1dd7e"}]},{"columns":{"iris":{"dataType":"string","role":"target","imputation":"mode","aggregation":"mode"},"petal_len":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"sepal_len":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"petal_width":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"sepal_width":{"dataType":"numeri[...]
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/models/20eede36-509f-4717-bef0-7ee150bb476b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '25'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '976'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '96'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 16 Jan 2018 20:33:32 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/models/20eede36-509f-4717-bef0-7ee150bb476b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '25'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '976'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '96'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":404,"message":"Item of type model with identifier 20eede36-509f-4717-bef0-7ee150bb476b
        was not found","errorType":"NotFound","errorDetails":{"itemType":"model","itemId":"20eede36-509f-4717-bef0-7ee150bb476b","companyId":"36774fba-a391-4078-af36-b5adf6a17a87"}}'
  recorded_at: Tue, 16 Jan 2018 20:33:37 GMT
recorded_with: VCR 3.0.3
