---
http_interactions:
- request:
    method: put
    uri: https://api.uat.nexosisdev.com/v1/data/ToRemove
    body:
      encoding: UTF-8
      string: "timestamp,foo\r\n1-1-2017,223.33\r\n1-2-2017,345.31\r\n1-3-2017,345.31\r\n1-4-2017,345.31\r\n1-5-2017,345.31\r\n1-6-2017,345.31\r\n1-7-2017,345.31\r\n1-8-2017,345.31\r\n1-9-2017,345.31\r\n1-10-2017,345.31\r\n1-11-2017,345.31\r\n1-12-2017,345.31\r\n1-13-2017,345.31\r\n1-14-2017,345.31\r\n1-15-2017,345.31"
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - text/csv
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://gateway.uat.nexosisdev.com/data/ToRemove
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '26'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '1146'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '114'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"dataSetName":"ToRemove","dataSetSize":246,"isTimeSeries":true,"columns":{"timestamp":{"dataType":"date","role":"timestamp"},"foo":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"}},"links":[{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/ToRemove"}]}'
  recorded_at: Tue, 16 Jan 2018 20:48:14 GMT
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=ToRemove&endDate=1-17-2017&resultInterval=day&startDate=1-16-2017&targetColumn=foo
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '26'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '1147'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '115'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"columns":{"foo":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timestamp":{"dataType":"date","role":"timestamp"}},"sessionId":"016100ba-c35a-40e6-a8dc-8125bbaee0d7","type":"forecast","status":"requested","predictionDomain":"forecast","availablePredictionIntervals":["0.5"],"startDate":"2017-01-16T00:00:00+00:00","endDate":"2017-01-17T00:00:00+00:00","resultInterval":"day","requestedDate":"2018-01-16T20:48:15.191775+00:00","statusHistory":[{"date":"2018-01-16T20:48:15.191775+00:00","status":"requested"}],"extraParameters":{},"messages":[],"dataSourceName":"ToRemove","dataSetName":"ToRemove","targetColumn":"foo","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/016100ba-c35a-40e6-a8dc-8125bbaee0d7/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/ToRemove"},{"rel":"vocabularies","href":"https://api.uat.nexosisdev.com/v1/vocabulary?createdFromSessionid=016100ba-c35a-40e6-a8dc-8125bbaee0d7"}]}'
  recorded_at: Tue, 16 Jan 2018 20:48:15 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/016100ba-c35a-40e6-a8dc-8125bbaee0d7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Completed
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '26'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '1147'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '115'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"columns":{"foo":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timestamp":{"dataType":"date","role":"timestamp"}},"sessionId":"016100ba-c35a-40e6-a8dc-8125bbaee0d7","type":"forecast","status":"completed","predictionDomain":"forecast","availablePredictionIntervals":["0.01","0.05","0.2","0.5","0.8","0.95","0.99"],"startDate":"2017-01-16T00:00:00+00:00","endDate":"2017-01-17T00:00:00+00:00","resultInterval":"day","requestedDate":"2018-01-16T20:48:15.191775+00:00","statusHistory":[{"date":"2018-01-16T20:48:15.191775+00:00","status":"requested"},{"date":"2018-01-16T20:48:13.6549214+00:00","status":"started"},{"date":"2018-01-16T20:48:37.9832484+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"15
        daily observations were found in the dataset before 2017-01-17T23:59:59.9999999Z."},{"severity":"warning","message":"This
        data source has too few data points for reliable predictions to be made. The
        results of this session should be carefully analyzed for accuracy."}],"dataSourceName":"ToRemove","dataSetName":"ToRemove","targetColumn":"foo","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/016100ba-c35a-40e6-a8dc-8125bbaee0d7/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/ToRemove"},{"rel":"vocabularies","href":"https://api.uat.nexosisdev.com/v1/vocabulary?createdFromSessionid=016100ba-c35a-40e6-a8dc-8125bbaee0d7"}]}'
  recorded_at: Tue, 16 Jan 2018 20:48:39 GMT
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/data/ToRemove?cascade=model
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '25'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '1147'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '115'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 16 Jan 2018 20:48:39 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/data/ToRemove?page=0&pageSize=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '25'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '1147'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '115'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":404,"message":"Item of type dataSet with identifier ToRemove
        was not found","errorType":"NotFound","errorDetails":{"itemType":"dataSet","itemId":"ToRemove","companyId":"36774fba-a391-4078-af36-b5adf6a17a87"}}'
  recorded_at: Tue, 16 Jan 2018 20:48:40 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/016100ba-c35a-40e6-a8dc-8125bbaee0d7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '25'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '1147'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '115'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":404,"message":"Item of type session with identifier 016100ba-c35a-40e6-a8dc-8125bbaee0d7
        was not found","errorType":"NotFound","errorDetails":{"itemType":"session","itemId":"016100ba-c35a-40e6-a8dc-8125bbaee0d7","companyId":"36774fba-a391-4078-af36-b5adf6a17a87"}}'
  recorded_at: Tue, 16 Jan 2018 20:48:40 GMT
recorded_with: VCR 3.0.3
