---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?endDate=01-05-2017&isestimate=false&resultInterval=day&startDate=01-03-2017&targetColumn=sales
    body:
      encoding: UTF-8
      string: "timestamp,sales\r\n01-01-2017,234.45\r\n01-02-2017,343.22"
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - text/csv
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.2 USD
      Nexosis-Account-Balance:
      - 1314870.39 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015d09f8-7486-4090-9a49-d7ac921c45fa","type":"forecast","status":"requested","requestedDate":"2017-07-03T19:41:04.006042+00:00","statusHistory":[{"date":"2017-07-03T19:41:04.006042+00:00","status":"requested"}],"extraParameters":{},"columns":{"sales":{"dataType":"numeric","role":"target"},"timestamp":{"dataType":"date","role":"timestamp"}},"dataSetName":"forecast.015d09f8-7486-4090-9a49-d7ac921c45fa","targetColumn":"sales","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-05T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d09f8-7486-4090-9a49-d7ac921c45fa/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/forecast.015d09f8-7486-4090-9a49-d7ac921c45fa"}]}'
  recorded_at: Mon, 03 Jul 2017 19:41:05 GMT
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=forecast.015d09f8-7486-4090-9a49-d7ac921c45fa&endDate=&eventName=&startDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Balance:
      - 1314870.39 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 03 Jul 2017 19:41:06 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015d09f8-7486-4090-9a49-d7ac921c45fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Balance:
      - 1314870.39 USD
      Nexosis-Request-Cost:
      - 0.000 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":404,"message":"Item of type session with identifier 015d09f8-7486-4090-9a49-d7ac921c45fa
        was not found","errorType":"NotFound","errorDetails":{"itemType":"session","itemId":"015d09f8-7486-4090-9a49-d7ac921c45fa","companyId":"36774fba-a391-4078-af36-b5adf6a17a87"}}'
  recorded_at: Mon, 03 Jul 2017 19:41:06 GMT
recorded_with: VCR 3.0.3
