---
http_interactions:
- request:
    method: put
    uri: https://api.uat.nexosisdev.com/v1/data/ToRemoveRuby
    body:
      encoding: UTF-8
      string: '{"columns":{"timestamp":{"dataType":"date","role":"timestamp"},"sales":{"dataType":"numeric","role":"target"}},"data":[{"timestamp":"2017-01-01T00:00:00+00:00","sales":"2948.74"},{"timestamp":"2017-01-02T00:00:00+00:00","sales":"1906.35"},{"timestamp":"2017-01-03T00:00:00+00:00","sales":"4523.42"},{"timestamp":"2017-01-04T00:00:00+00:00","sales":"4586.85"},{"timestamp":"2017-01-05T00:00:00+00:00","sales":"4538.04"},{"timestamp":"2017-01-06T00:00:00+00:00","sales":"4538.04"},{"timestamp":"2017-01-07T00:00:00+00:00","sales":"4538.04"},{"timestamp":"2017-01-08T00:00:00+00:00","sales":"4538.04"},{"timestamp":"2017-01-09T00:00:00+00:00","sales":"4538.04"},{"timestamp":"2017-01-10T00:00:00+00:00","sales":"4538.04"},{"timestamp":"2017-01-11T00:00:00+00:00","sales":"4538.04"},{"timestamp":"2017-01-12T00:00:00+00:00","sales":"4538.04"},{"timestamp":"2017-01-13T00:00:00+00:00","sales":"4538.04"},{"timestamp":"2017-01-14T00:00:00+00:00","sales":"4538.04"},{"timestamp":"2017-01-15T00:00:00+00:00","sales":"4538.04"}]}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://gateway.uat.nexosisdev.com/data/ToRemoveRuby
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '26'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '10'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '91'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"dataSetName":"ToRemoveRuby","dataSetSize":510,"isTimeSeries":true,"columns":{"timestamp":{"dataType":"date","role":"timestamp"},"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"}},"links":[{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/ToRemoveRuby"}]}'
  recorded_at: Fri, 01 Dec 2017 17:36:19 GMT
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=ToRemoveRuby&endDate=2017-01-17&isestimate=false&resultInterval=day&startDate=2017-01-16&targetColumn=sales
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '26'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '10'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '92'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"columns":{"sales":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timestamp":{"dataType":"date","role":"timestamp"}},"sessionId":"01601326-87af-4b50-b85e-ad99dda30797","type":"forecast","status":"requested","predictionDomain":"forecast","availablePredictionIntervals":["0.5"],"startDate":"2017-01-16T00:00:00+00:00","endDate":"2017-01-17T00:00:00+00:00","resultInterval":"day","requestedDate":"2017-12-01T17:36:20.397817+00:00","statusHistory":[{"date":"2017-12-01T17:36:20.397817+00:00","status":"requested"}],"extraParameters":{},"messages":[],"dataSourceName":"ToRemoveRuby","dataSetName":"ToRemoveRuby","targetColumn":"sales","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/01601326-87af-4b50-b85e-ad99dda30797/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/ToRemoveRuby"}]}'
  recorded_at: Fri, 01 Dec 2017 17:36:20 GMT
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=ToRemoveRuby&endDate=&eventName=&startDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '26'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '10'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '92'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 01 Dec 2017 17:36:20 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/01601326-87af-4b50-b85e-ad99dda30797
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '26'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '10'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '92'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":404,"message":"Item of type session with identifier 01601326-87af-4b50-b85e-ad99dda30797
        was not found","errorType":"NotFound","errorDetails":{"itemType":"session","itemId":"01601326-87af-4b50-b85e-ad99dda30797","companyId":"36774fba-a391-4078-af36-b5adf6a17a87"}}'
  recorded_at: Fri, 01 Dec 2017 17:36:21 GMT
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/data/ToRemoveRuby
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '25'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '10'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '92'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 01 Dec 2017 17:36:21 GMT
recorded_with: VCR 3.0.3
