---
http_interactions:
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/model
    body:
      encoding: UTF-8
      string: '{"dataSourceName":"TestRuby_NTS","targetColumn":"target","predictionDomain":"regression"}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '50'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '71'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '143'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"columns":{"key":{"dataType":"numeric","role":"key","imputation":"zeroes","aggregation":"sum"},"target":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"feature":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"sessionId":"016051b0-540c-476a-84a2-659dfa5485e8","type":"model","status":"requested","predictionDomain":"regression","availablePredictionIntervals":["0.5"],"requestedDate":"2017-12-13T21:03:18.53818+00:00","statusHistory":[{"date":"2017-12-13T21:03:18.53818+00:00","status":"requested"}],"extraParameters":{},"messages":[],"dataSourceName":"TestRuby_NTS","dataSetName":"TestRuby_NTS","targetColumn":"target","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/016051b0-540c-476a-84a2-659dfa5485e8/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby_NTS"}]}'
  recorded_at: Wed, 13 Dec 2017 21:03:18 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/016051b0-540c-476a-84a2-659dfa5485e8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Started
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '50'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '71'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '143'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
    [...]
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/016051b0-540c-476a-84a2-659dfa5485e8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Completed
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '50'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '71'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '143'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"columns":{"key":{"dataType":"numeric","role":"key","imputation":"zeroes","aggregation":"sum"},"target":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"feature":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"sessionId":"016051b0-540c-476a-84a2-659dfa5485e8","type":"model","status":"completed","predictionDomain":"regression","availablePredictionIntervals":["0.5"],"modelId":"92b70e0b-7f50-403a-b302-bf1108b0fb3a","requestedDate":"2017-12-13T21:03:18.53818+00:00","statusHistory":[{"date":"2017-12-13T21:03:18.53818+00:00","status":"requested"},{"date":"2017-12-13T21:03:18.6275311+00:00","status":"started"},{"date":"2017-12-13T21:03:46.0629522+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"500
        observations were found in the dataset."}],"dataSourceName":"TestRuby_NTS","dataSetName":"TestRuby_NTS","targetColumn":"target","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/016051b0-540c-476a-84a2-659dfa5485e8/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/TestRuby_NTS"},{"rel":"model","href":"https://api.uat.nexosisdev.com/v1/models/92b70e0b-7f50-403a-b302-bf1108b0fb3a"}]}'
  recorded_at: Wed, 13 Dec 2017 21:03:49 GMT
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/models/92b70e0b-7f50-403a-b302-bf1108b0fb3a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '50'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '71'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '143'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 13 Dec 2017 21:03:50 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/models/92b70e0b-7f50-403a-b302-bf1108b0fb3a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '50'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '71'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '143'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":404,"message":"Item of type model with identifier 92b70e0b-7f50-403a-b302-bf1108b0fb3a
        was not found","errorType":"NotFound","errorDetails":{"itemType":"model","itemId":"92b70e0b-7f50-403a-b302-bf1108b0fb3a","companyId":"36774fba-a391-4078-af36-b5adf6a17a87"}}'
  recorded_at: Wed, 13 Dec 2017 21:03:50 GMT
recorded_with: VCR 3.0.3
