---
http_interactions:
- request:
    method: put
    uri: https://api.uat.nexosisdev.com/v1/data/ToRemoveRuby
    body:
      encoding: UTF-8
      string: '{"columns":{"timestamp":{"dataType":"date","role":"timestamp"},"sales":{"dataType":"numeric","role":"target"}},"data":[{"timestamp":"2017-01-01T00:00:00+00:00","sales":"2948.74"},{"timestamp":"2017-01-02T00:00:00+00:00","sales":"1906.35"},{"timestamp":"2017-01-03T00:00:00+00:00","sales":"4523.42"},{"timestamp":"2017-01-04T00:00:00+00:00","sales":"4586.85"},{"timestamp":"2017-01-05T00:00:00+00:00","sales":"4538.04"}]}'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://gateway.uat.nexosisdev.com/data/ToRemoveRuby
      Nexosis-Request-Cost:
      - 0.01 USD
      Nexosis-Account-Balance:
      - 1314733.15 USD
    body:
      encoding: UTF-8
      string: '{"dataSetName":"ToRemoveRuby","columns":{"sales":{"dataType":"numeric","role":"target"},"timestamp":{"dataType":"date","role":"timestamp"}}}'
  recorded_at: Wed, 12 Jul 2017 12:57:13 GMT
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=ToRemoveRuby&endDate=2017-01-10&isestimate=false&resultInterval=day&startDate=2017-01-06&targetColumn=sales
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.40 USD
      Nexosis-Account-Balance:
      - 1314732.75 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015d36df-e0f8-4bb7-a6d9-8d474c92f699","type":"forecast","status":"requested","requestedDate":"2017-07-12T12:57:08.08797+00:00","statusHistory":[{"date":"2017-07-12T12:57:08.08797+00:00","status":"requested"}],"extraParameters":{},"columns":{"sales":{"dataType":"numeric","role":"target"},"timestamp":{"dataType":"date","role":"timestamp"}},"dataSetName":"ToRemoveRuby","targetColumn":"sales","startDate":"2017-01-06T00:00:00+00:00","endDate":"2017-01-10T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015d36df-e0f8-4bb7-a6d9-8d474c92f699/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/ToRemoveRuby"}]}'
  recorded_at: Wed, 12 Jul 2017 12:57:13 GMT
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=ToRemoveRuby&endDate=&eventName=&startDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Balance:
      - 1314732.75 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 12 Jul 2017 12:57:13 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015d36df-e0f8-4bb7-a6d9-8d474c92f699
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Balance:
      - 1314732.75 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":404,"message":"Item of type session with identifier 015d36df-e0f8-4bb7-a6d9-8d474c92f699
        was not found","errorType":"NotFound","errorDetails":{"itemType":"session","itemId":"015d36df-e0f8-4bb7-a6d9-8d474c92f699","companyId":"36774fba-a391-4078-af36-b5adf6a17a87"}}'
  recorded_at: Wed, 12 Jul 2017 12:57:13 GMT
recorded_with: VCR 3.0.3
