---
http_interactions:
- request:
    method: put
    uri: https://api.uat.nexosisdev.com/internal/data/ToRemove
    body:
      encoding: UTF-8
      string: timestamp,foo\r\n1-1-2017,223.33\r\n1-2-2017,345.31
    headers:
      Api-Key:
      - 7f3f1bd61e334b70b3a3d87ea1850ae9
      Content-Type:
      - text/csv
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://gateway.uat.nexosisdev.com/data/ToRemove
      Nexosis-Request-Cost:
      - 0.01 USD
      Nexosis-Account-Balance:
      - 1315114.67 USD
    body:
      encoding: UTF-8
      string: '{"dataSetName":"ToRemove","columns":{}}'
  recorded_at: Tue, 15 Aug 2017 18:49:18 GMT
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/internal/sessions/forecast?dataSetName=ToRemove&endDate=1-4-2017&isestimate=false&resultInterval=day&startDate=1-3-2017&targetColumn=foo
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - 7f3f1bd61e334b70b3a3d87ea1850ae9
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.01 USD
      Nexosis-Account-Balance:
      - 1315114.66 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015de73a-88f6-4b78-a321-468c0e677ba7","type":"forecast","status":"requested","requestedDate":"2017-08-15T18:49:19.350348+00:00","statusHistory":[{"date":"2017-08-15T18:49:19.350348+00:00","status":"requested"}],"extraParameters":{},"messages":[],"columns":null,"dataSourceName":"ToRemove","dataSetName":"ToRemove","targetColumn":"foo","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-04T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015de73a-88f6-4b78-a321-468c0e677ba7/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/ToRemove"}]}'
  recorded_at: Tue, 15 Aug 2017 18:49:19 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/internal/sessions/015de73a-88f6-4b78-a321-468c0e677ba7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 7f3f1bd61e334b70b3a3d87ea1850ae9
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Started
      Nexosis-Account-Balance:
      - 1315114.66 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015de73a-88f6-4b78-a321-468c0e677ba7","type":"forecast","status":"started","requestedDate":"2017-08-15T18:49:19.350348+00:00","statusHistory":[{"date":"2017-08-15T18:49:19.350348+00:00","status":"requested"},{"date":"2017-08-15T18:49:19.5625033+00:00","status":"started"}],"extraParameters":{},"messages":[],"columns":null,"dataSourceName":"ToRemove","dataSetName":"ToRemove","targetColumn":"foo","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-04T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015de73a-88f6-4b78-a321-468c0e677ba7/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/ToRemove"}]}'
  recorded_at: Tue, 15 Aug 2017 18:49:19 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/internal/sessions/015de73a-88f6-4b78-a321-468c0e677ba7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 7f3f1bd61e334b70b3a3d87ea1850ae9
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Failed
      Nexosis-Account-Balance:
      - 1315114.67 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015de73a-88f6-4b78-a321-468c0e677ba7","type":"forecast","status":"failed","requestedDate":"2017-08-15T18:49:19.350348+00:00","statusHistory":[{"date":"2017-08-15T18:49:19.350348+00:00","status":"requested"},{"date":"2017-08-15T18:49:19.5625033+00:00","status":"started"},{"date":"2017-08-15T18:49:25.0754329+00:00","status":"failed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"0
        daily observations were found in the dataset between 2011-07-14T00:00:00.0000000Z
        and 2017-01-02T00:00:00.0000000Z."}],"columns":null,"dataSourceName":"ToRemove","dataSetName":"ToRemove","targetColumn":"foo","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-04T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015de73a-88f6-4b78-a321-468c0e677ba7/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/ToRemove"}]}'
  recorded_at: Tue, 15 Aug 2017 18:49:25 GMT
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/internal/data/ToRemove?cascade=forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 7f3f1bd61e334b70b3a3d87ea1850ae9
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Balance:
      - 1315114.67 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Aug 2017 18:49:25 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/internal/data/ToRemove?endDate=&include=&page=0&pageSize=50&startDate=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 7f3f1bd61e334b70b3a3d87ea1850ae9
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Balance:
      - 1315114.67 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":404,"message":"Item of type dataSet with identifier ToRemove
        was not found","errorType":"NotFound","errorDetails":{"itemType":"dataSet","itemId":"ToRemove","companyId":"36774fba-a391-4078-af36-b5adf6a17a87"}}'
  recorded_at: Tue, 15 Aug 2017 18:49:26 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/internal/sessions/015de73a-88f6-4b78-a321-468c0e677ba7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 7f3f1bd61e334b70b3a3d87ea1850ae9
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Balance:
      - 1315114.67 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":404,"message":"Item of type session with identifier 015de73a-88f6-4b78-a321-468c0e677ba7
        was not found","errorType":"NotFound","errorDetails":{"itemType":"session","itemId":"015de73a-88f6-4b78-a321-468c0e677ba7","companyId":"36774fba-a391-4078-af36-b5adf6a17a87"}}'
  recorded_at: Tue, 15 Aug 2017 18:49:27 GMT
recorded_with: VCR 3.0.3
