---
http_interactions:
- request:
    method: put
    uri: https://api.uat.nexosisdev.com/v1/data/ToRemove
    body:
      encoding: UTF-8
      string: timestamp,foo\r\n1-1-2017,223.33\r\n1-2-2017,345.31
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - text/csv
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://gateway.uat.nexosisdev.com/data/ToRemove
      Nexosis-Request-Cost:
      - 0.01 USD
      Nexosis-Account-Balance:
      - 1315111.83 USD
    body:
      encoding: UTF-8
      string: '{"dataSetName":"ToRemove","columns":{"foo":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timestamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null}}}'
  recorded_at: Fri, 18 Aug 2017 02:58:23 GMT
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=ToRemove&endDate=1-4-2017&isestimate=false&resultInterval=day&startDate=1-3-2017&targetColumn=foo
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.01 USD
      Nexosis-Account-Balance:
      - 1315111.82 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015df347-040f-4d23-b178-5ad1084e372b","type":"forecast","status":"requested","requestedDate":"2017-08-18T02:58:23.887744+00:00","statusHistory":[{"date":"2017-08-18T02:58:23.887744+00:00","status":"requested"}],"extraParameters":{},"messages":[],"columns":{"foo":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timestamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null}},"dataSourceName":"ToRemove","dataSetName":"ToRemove","targetColumn":"foo","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-04T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015df347-040f-4d23-b178-5ad1084e372b/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/ToRemove"}]}'
  recorded_at: Fri, 18 Aug 2017 02:58:23 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015df347-040f-4d23-b178-5ad1084e372b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Started
      Nexosis-Account-Balance:
      - 1315111.82 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015df347-040f-4d23-b178-5ad1084e372b","type":"forecast","status":"started","requestedDate":"2017-08-18T02:58:23.887744+00:00","statusHistory":[{"date":"2017-08-18T02:58:23.887744+00:00","status":"requested"},{"date":"2017-08-18T02:58:23.776028+00:00","status":"started"}],"extraParameters":{},"messages":[],"columns":{"foo":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timestamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null}},"dataSourceName":"ToRemove","dataSetName":"ToRemove","targetColumn":"foo","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-04T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015df347-040f-4d23-b178-5ad1084e372b/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/ToRemove"}]}'
  recorded_at: Fri, 18 Aug 2017 02:58:24 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015df347-040f-4d23-b178-5ad1084e372b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Failed
      Nexosis-Account-Balance:
      - 1315111.83 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"sessionId":"015df347-040f-4d23-b178-5ad1084e372b","type":"forecast","status":"failed","requestedDate":"2017-08-18T02:58:23.887744+00:00","statusHistory":[{"date":"2017-08-18T02:58:23.887744+00:00","status":"requested"},{"date":"2017-08-18T02:58:23.776028+00:00","status":"started"},{"date":"2017-08-18T02:58:26.9658076+00:00","status":"failed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"1
        daily observation was found in the dataset between 2011-07-14T00:00:00.0000000Z
        and 2017-01-02T00:00:00.0000000Z."},{"severity":"error","message":"Nexosis
        could not execute any algorithms to model this dataset. The most common cause
        of this error is that the dataset does not contain enough rows prior to the
        forecast start date to adequately train and test a model. Please make sure
        that the dataset contains at least 150 records prior to the forecast start
        date and try the request again."}],"columns":{"foo":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timestamp":{"dataType":"date","role":"timestamp","imputation":null,"aggregation":null}},"dataSourceName":"ToRemove","dataSetName":"ToRemove","targetColumn":"foo","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-04T00:00:00+00:00","callbackUrl":null,"isEstimate":false,"resultInterval":"day","links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015df347-040f-4d23-b178-5ad1084e372b/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/ToRemove"}]}'
  recorded_at: Fri, 18 Aug 2017 02:58:29 GMT
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/data/ToRemove?cascade=forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Balance:
      - 1315111.83 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 18 Aug 2017 02:58:29 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/data/ToRemove?page=0&pageSize=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Balance:
      - 1315111.83 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":404,"message":"Item of type dataSet with identifier ToRemove
        was not found","errorType":"NotFound","errorDetails":{"itemType":"dataSet","itemId":"ToRemove","companyId":"36774fba-a391-4078-af36-b5adf6a17a87"}}'
  recorded_at: Fri, 18 Aug 2017 02:58:29 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015df347-040f-4d23-b178-5ad1084e372b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Balance:
      - 1315111.83 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":404,"message":"Item of type session with identifier 015df347-040f-4d23-b178-5ad1084e372b
        was not found","errorType":"NotFound","errorDetails":{"itemType":"session","itemId":"015df347-040f-4d23-b178-5ad1084e372b","companyId":"36774fba-a391-4078-af36-b5adf6a17a87"}}'
  recorded_at: Fri, 18 Aug 2017 02:58:29 GMT
recorded_with: VCR 3.0.3
