---
http_interactions:
- request:
    method: put
    uri: https://api.uat.nexosisdev.com/v1/data/ToRemove
    body:
      encoding: UTF-8
      string: "timestamp,foo\r\n1-1-2017,223.33\r\n1-2-2017,345.31"
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - text/csv
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://gateway.uat.nexosisdev.com/data/ToRemove
      Nexosis-Request-Cost:
      - 0.01 USD
      Nexosis-Account-Balance:
      - 1315085.68 USD
    body:
      encoding: UTF-8
      string: '{"dataSetName":"ToRemove","isTimeSeries":true,"columns":{"foo":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timestamp":{"dataType":"date","role":"timestamp"}}}'
  recorded_at: Fri, 06 Oct 2017 20:36:09 GMT
- request:
    method: post
    uri: https://api.uat.nexosisdev.com/v1/sessions/forecast?dataSetName=ToRemove&endDate=1-4-2017&isestimate=false&resultInterval=day&startDate=1-3-2017&targetColumn=foo
    body:
      encoding: UTF-8
      string: '""'
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Request-Cost:
      - 0.01 USD
      Nexosis-Account-Balance:
      - 1315085.67 USD
    body:
      encoding: UTF-8
      string: '{"columns":{"foo":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timestamp":{"dataType":"date","role":"timestamp"}},"sessionId":"015ef367-6a26-463d-be6c-e6c2faf62061","type":"forecast","status":"requested","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-04T00:00:00+00:00","resultInterval":"day","requestedDate":"2017-10-06T20:36:34.470239+00:00","statusHistory":[{"date":"2017-10-06T20:36:34.470239+00:00","status":"requested"}],"extraParameters":{},"messages":[],"dataSourceName":"ToRemove","dataSetName":"ToRemove","targetColumn":"foo","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015ef367-6a26-463d-be6c-e6c2faf62061/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/ToRemove"}]}'
  recorded_at: Fri, 06 Oct 2017 20:36:34 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015ef367-6a26-463d-be6c-e6c2faf62061
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Failed
      Nexosis-Account-Balance:
      - 1315085.68 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"columns":{"foo":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timestamp":{"dataType":"date","role":"timestamp"}},"sessionId":"015ef367-6a26-463d-be6c-e6c2faf62061","type":"forecast","status":"failed","startDate":"2017-01-03T00:00:00+00:00","endDate":"2017-01-04T00:00:00+00:00","resultInterval":"day","requestedDate":"2017-10-06T20:36:34.470239+00:00","statusHistory":[{"date":"2017-10-06T20:36:34.470239+00:00","status":"requested"},{"date":"2017-10-06T20:36:34.9068348+00:00","status":"started"},{"date":"2017-10-06T20:37:38.3370986+00:00","status":"failed"}],"extraParameters":{},"messages":[],"dataSourceName":"ToRemove","dataSetName":"ToRemove","targetColumn":"foo","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015ef367-6a26-463d-be6c-e6c2faf62061/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/ToRemove"}]}'
  recorded_at: Fri, 06 Oct 2017 20:37:40 GMT
- request:
    method: delete
    uri: https://api.uat.nexosisdev.com/v1/data/ToRemove?cascade=model
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Nexosis-Account-Balance:
      - 1315085.68 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 06 Oct 2017 20:37:40 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/data/ToRemove?page=0&pageSize=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Balance:
      - 1315085.68 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":404,"message":"Item of type dataSet with identifier ToRemove
        was not found","errorType":"NotFound","errorDetails":{"itemType":"dataSet","itemId":"ToRemove","companyId":"36774fba-a391-4078-af36-b5adf6a17a87"}}'
  recorded_at: Fri, 06 Oct 2017 20:37:40 GMT
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015ef367-6a26-463d-be6c-e6c2faf62061
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Nexosis-Account-Balance:
      - 1315085.68 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"statusCode":404,"message":"Item of type session with identifier 015ef367-6a26-463d-be6c-e6c2faf62061
        was not found","errorType":"NotFound","errorDetails":{"itemType":"session","itemId":"015ef367-6a26-463d-be6c-e6c2faf62061","companyId":"36774fba-a391-4078-af36-b5adf6a17a87"}}'
  recorded_at: Fri, 06 Oct 2017 20:37:41 GMT
recorded_with: VCR 3.0.3
