---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/imports?page=0&pageSize=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '41'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '98'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '19'
      Nexosis-Account-Datasetsize-Allotted:
      - '500000000'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"importId":"0162ab12-20a1-42ce-a43e-e89afd8e9bf6","type":"s3","status":"completed","dataSetName":"S3SecureImportRuby","parameters":{"bucket":"nexosis-test","path":"dummytest_keyed.csv","region":"us-east-1"},"requestedDate":"2018-04-09T15:41:54.720607+00:00","statusHistory":[{"date":"2018-04-09T15:41:54.720607+00:00","status":"requested"},{"date":"2018-04-09T15:41:55.5726305+00:00","status":"started"},{"date":"2018-04-09T15:42:05.2615172+00:00","status":"completed"}],"messages":[],"columns":{},"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/imports/0162ab12-20a1-42ce-a43e-e89afd8e9bf6"}]},{"importId":"0162ab12-0bdb-4377-819b-123961cce436","type":"url","status":"failed","dataSetName":"URLImportRuby","parameters":{"url":"<blob_endpoint>/"},"requestedDate":"2018-04-09T15:41:49.401323+00:00","statusHistory":[{"date":"2018-04-09T15:41:49.401323+00:00","status":"requested"},{"date":"2018-04-09T15:41:49.7451948+00:00","status":"started"},{"date":"2018-04-09T15:41:50.4483517+00:00","status":"failed"}],"messages":[{"severity":"error","message":"Response
        status code does not indicate success: 404 (The specified resource does not
        exist.)."}],"columns":{},"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/imports/0162ab12-0bdb-4377-819b-123961cce436"}]},{"importId":"0162ab11-f2ef-404e-9342-cf2338d4bf66","type":"azure","status":"failed","dataSetName":"AzureImportRuby","parameters":{"connectionString":"redacted","container":"datatest","blob":"mpg/auto-mpg.data.json"},"requestedDate":"2018-04-09T15:41:43.020056+00:00","statusHistory":[{"date":"2018-04-09T15:41:43.020056+00:00","status":"requested"},{"date":"2018-04-09T15:41:44.4281067+00:00","status":"started"},{"date":"2018-04-09T15:41:45.7891954+00:00","status":"failed"}],"messages":[{"severity":"error","message":"Unable
        to parse Azure blob storage connection string: The argument must not be empty
        string.\r\nParameter name: sasToken"}],"columns":{},"links":[{"rel":"[...]
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/imports/0162ab12-20a1-42ce-a43e-e89afd8e9bf6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Import-Status:
      - Completed
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '41'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '98'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '19'
      Nexosis-Account-Datasetsize-Allotted:
      - '500000000'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"importId":"0162ab12-20a1-42ce-a43e-e89afd8e9bf6","type":"s3","status":"completed","dataSetName":"S3SecureImportRuby","parameters":{"bucket":"nexosis-test","path":"dummytest_keyed.csv","region":"us-east-1"},"requestedDate":"2018-04-09T15:41:54.720607+00:00","statusHistory":[{"date":"2018-04-09T15:41:54.720607+00:00","status":"requested"},{"date":"2018-04-09T15:41:55.5726305+00:00","status":"started"},{"date":"2018-04-09T15:42:05.2615172+00:00","status":"completed"}],"messages":[],"columns":{},"links":[{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/S3SecureImportRuby"},{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/imports/0162ab12-20a1-42ce-a43e-e89afd8e9bf6"}]}'
  recorded_at: Mon, 09 Apr 2018 20:03:30 GMT
recorded_with: VCR 3.0.3
