---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/imports?dataSetName=&page=0&pageSize=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Balance:
      - 1331603.59 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"importId":"015e3e6d-b9c0-4c72-b2a3-c4a8c30bafbc","type":"s3","status":"completed","dataSetName":"WebTraffic-Full","parameters":{"bucket":"nexosis-api-sample-data","path":"websiteTrafficPrepFULL.csv","region":"us-east-2"},"requestedDate":"2017-09-01T17:12:11.963835+00:00","statusHistory":[{"date":"2017-09-01T17:12:11.963835+00:00","status":"requested"},{"date":"2017-09-01T17:12:11.9060945+00:00","status":"started"},{"date":"2017-09-01T17:12:55.4022137+00:00","status":"completed"}],"messages":[],"columns":{},"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/imports?dataSetName=&page=0&pageSize=50"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/WebTraffic-Full"}]},{"importId":"015ee770-9dfd-4824-a7f9-b5cbed4c5df4","type":"s3","status":"failed","dataSetName":"HousePrices","parameters":{"bucket":"nexosis-samples","path":"housedata.json","region":"us-east-1"},"requestedDate":"2017-10-04T12:51:10.97292+00:00","statusHistory":[{"date":"2017-10-04T12:51:10.97292+00:00","status":"requested"},{"date":"2017-10-04T12:51:11.2562276+00:00","status":"started"},{"date":"2017-10-04T12:51:12.3692676+00:00","status":"failed"}],"messages":[{"severity":"error","message":"Unable
        to import file from S3 because we encountered an error"}],"columns":{},"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/imports?dataSetName=&page=0&pageSize=50"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/HousePrices"}]},{"importId":"015eece2-3320-498e-82da-81edd7b8e6a6","type":"s3","status":"requested","dataSetName":"JavaTest-WillFail","parameters":{"bucket":"NoBucket","path":"NoPath.csv","region":"No-Region"},"requestedDate":"[...]
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/imports/015e3e6d-b9c0-4c72-b2a3-c4a8c30bafbc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Import-Status:
      - Completed
      Nexosis-Account-Balance:
      - 1331603.59 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"importId":"015e3e6d-b9c0-4c72-b2a3-c4a8c30bafbc","type":"s3","status":"completed","dataSetName":"WebTraffic-Full","parameters":{"bucket":"nexosis-api-sample-data","path":"websiteTrafficPrepFULL.csv","region":"us-east-2"},"requestedDate":"2017-09-01T17:12:11.963835+00:00","statusHistory":[{"date":"2017-09-01T17:12:11.963835+00:00","status":"requested"},{"date":"2017-09-01T17:12:11.9060945+00:00","status":"started"},{"date":"2017-09-01T17:12:55.4022137+00:00","status":"completed"}],"messages":[],"columns":{},"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/imports/015e3e6d-b9c0-4c72-b2a3-c4a8c30bafbc"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/WebTraffic-Full"}]}'
  recorded_at: Thu, 26 Oct 2017 15:02:45 GMT
recorded_with: VCR 3.0.3
