---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?dataSetName=&eventName=&page=0&pageSize=10&requestedAfterDate=&requestedBeforeDate=&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '15'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '15'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '117'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"columns":{"observed":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timestamp":{"dataType":"date","role":"timestamp"}},"sessionId":"015fb6a7-1fd3-42c8-976c-2bad8babf47f","type":"forecast","status":"completed","availablePredictionIntervals":["0.5","0.8","0.95","0.99"],"startDate":"2008-09-01T00:00:00+00:00","endDate":"2008-09-30T00:00:00+00:00","resultInterval":"day","requestedDate":"2017-11-13T18:32:06.867138+00:00","statusHistory":[{"date":"2017-11-13T18:32:06.867138+00:00","status":"requested"},{"date":"2017-11-13T18:32:08.9192374+00:00","status":"started"},{"date":"2017-11-13T18:32:33.6706269+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"123
        daily observations were found in the dataset before 2008-09-30T00:00:00.0000000."}],"dataSourceName":"data-sessions-integration","dataSetName":"data-sessions-integration","targetColumn":"observed","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015fb6a7-1fd3-42c8-976c-2bad8babf47f/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/data-sessions-integration"}]},{"columns":{"observed":{"dataType":"numeric","role":"target","imputation":"zeroes","aggregation":"sum"},"timestamp":{"dataType":"date","role":"timestamp"}},"sessionId":"015fb6a7-2aeb-47a4-9474-d26027a1b248","type":"impact","status":"completed","eventName":"integration-test-analysis","availablePredictionIntervals":["0.5"],"startDate":"2008-08-01T00:00:00+00:00","endDate":"2008-08-31T00:00:00+00:00","resultInterval":"day","requestedDate":"2017-11-13T18:32:09.707523+00:00","statusHistory":[{"date":"2017-11-13T18:32:09.707523+00:00","status":"requested"},{"date":"2017-11-13T18:32:11.5760249+00:00","status":"started"},{"date":"2017-11-13T18:32:35.2110715+00:00","status":"completed"}],"extraParameters":{"event":"integration-test-analysis"},"messages":[{"severity":"informational","message":"123
        daily observations were found in the dataset  before 2008-08-31T00:00:00.0000000Z."}],"dataSourceName":"data-sessions-integration","dataSetName":"data-sessions-integration","targetColumn":"observed","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015fb6a7-2aeb-47a4-9474-d26027a1b248/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/data-sessions-integration"}]},{"columns":{"iris":{"dataType":"string","role":"target","imputation":"mode","aggregation":"mode"},"petal_len":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"sepal_len":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"petal_width":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"sepal_width":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"sessionId":"015fbad0-2602-4f4b-8bb8-c49487272284","type":"model","status":"completed","predictionDomain":"classification","balance":true,"availablePredictionIntervals":["0.5"],"modelId":"ea3818ae-ce0c-42e4-bceb-58ec416d26b7","requestedDate":"2017-11-14T13:55:24.288885+00:00","statusHistory":[{"date":"2017-11-14T13:55:24.288885+00:00","status":"requested"},{"date":"2017-11-14T13:55:24.1312688+00:00","status":"started"},{"date":"2017-11-14T13:58:41.9180333+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"150
        observations were found in the dataset."}],"dataSourceName":"Iris","dataSetName":"Iris","targetColumn":"iris","isEstimate":false,"links":[{"rel":"results","href":"https://api.uat.nexosisdev.com/v1/sessions/015fbad0-2602-4f4b-8bb8-c49487272284/results"},{"rel":"data","href":"https://api.uat.nexosisdev.com/v1/data/Iris"},{"rel":"model","href":"https://api.uat.nexosisdev.com/v1/models/ea3818ae-ce0c-42e4-bceb-58ec416d26b7"},{"rel":"confusionMatrix","href":"https://api.uat.nexosisdev.com/v1/sessions/015fbad0-2602-4f4b-8bb8-c49487272284/results/confusionmatrix"}]},{"columns":{"DepthofWin":{"dataType":"string","role":"target","imputation":"mode","aggregation":"mode"},"BlackKingFile":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mode"},"BlackKingRank":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"WhiteKingFile":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mode"},"WhiteKingRank":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"},"WhiteRookFile":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mode"},"WhiteRookRank":{"dataType":"numeric","role":"feature","imputation":"zeroes","aggregation":"sum"}},"sessionId":"015fbad0-6980-470c-a46a-454b75cfa374","type":"model","status":"completed","predictionDomain":"classification","balance":true,"availablePredictionIntervals":["0.5"],"modelId":"90baddfa-bd8d-4dee-aa1c-e26f337dee3c","requestedDate":"2017-11-14T13:55:41.567138+00:00","statusHistory":[{"date":"2017-11-14T13:55:41.567138+00:00","status":"requested"},{"date":"2017-11-14T13:55:41.6516556+00:00","status":"star[...]
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/015fb6a7-1fd3-42c8-976c-2bad8babf47f/results?predictionInterval=.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Completed
      Nexosis-Account-Datasetcount-Allotted:
      - '2147483647'
      Nexosis-Account-Datasetcount-Current:
      - '15'
      Nexosis-Account-Predictioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Predictioncount-Current:
      - '15'
      Nexosis-Account-Sessioncount-Allotted:
      - '2147483647'
      Nexosis-Account-Sessioncount-Current:
      - '117'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"metrics":{"meanAbsoluteError":48.491039681092282,"meanAbsolutePercentError":48.491039681092282,"meanAbsoluteScaledError":1.5759991584664039,"rootMeanSquareError":48.531480240275144},"data":[{"timestamp":"2008-09-01T00:00:00.0000000Z","observed":"49.5716131088374"},{"timestamp":"2008-09-02T00:00:00.0000000Z","observed":"47.4510199858265"},{"timestamp":"2008-09-03T00:00:00.0000000Z","observed":"46.8728397998431"},{"timestamp":"2008-09-04T00:00:00.0000000Z","observed":"49.0582650222478"},{"timestamp":"2008-09-05T00:00:00.0000000Z","observed":"49.0044542114653"},{"timestamp":"2008-09-06T00:00:00.0000000Z","observed":"48.643371234486"},{"timestamp":"2008-09-07T00:00:00.0000000Z","obser[...]
