---
http_interactions:
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions?page=0&pageSize=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '41'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '14'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '10'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"items":[{"columns":{"Age":{"dataType":"numeric","role":"feature","imputation":"mean","aggregation":"mean"},"Sex":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mode"},"Fare":{"dataType":"numeric","role":"feature","imputation":"mean","aggregation":"mean"},"Parch":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mean"},"SibSp":{"dataType":"numeric","role":"feature","imputation":"mean","aggregation":"mean"},"Pclass":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mean"},"Embarked":{"dataType":"string","role":"feature","imputation":"mode","aggregation":"mode"},"Survived":{"dataType":"string","role":"target","imputation":"mode","aggregation":"mode"}},"sessionId":"016291d3-9b5c-4bbe-905a-014e6d69c680","type":"model","status":"completed","predictionDomain":"classification","supportsFeatureImportance":true,"availablePredictionIntervals":[],"modelId":"c4d2ba94-63e2-4109-86d8-884e4de6ce1f","requestedDate":"2018-04-04T18:03:06.941098+00:00","statusHistory":[{"date":"2018-04-04T18:03:06.941098+00:00","status":"requested"},{"date":"2018-04-04T18:03:35.5352427+00:00","status":"started"},{"date":"2018-04-04T19:17:10.07077+00:00","status":"completed"}],"extraParameters":{"balance":true},"messages":[{"severity":"warning","message":"You
        specified aggregation ''mean'' for column ''Parch'', which may have unintended
        consequences since the column contains string values"},{"severity":"warning","message":"You
        specified aggregation ''mean'' for column ''Pclass'', which may have unintended
        consequences since the column contains string values"},{"severity":"informational","message":"1781
        observations were found in the dataset."}],"name":"Classification on titanic","dataSourceName":"titanic","dataSetName":"titanic","targetColumn":"Survived","algorithm":{"name":"XGBoost
        L1","description":"eXtreme Gradient Boosting with Lasso regularization","key":""},"isEstimate":false,"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/sessions/016291d3-9b5c-4bbe-905a-014e6d69c680"}]},{"columns":{"iris":{"dataType":"string","role":"target","imputation":"mode","aggregation":"mode"},"petal_len":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"sepal_len":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"petal_width":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"},"sepal_width":{"dataType":"numericMeasure","role":"feature","imputation":"mean","aggregation":"mean"}},"sessionId":"016291b7-d8e0-40be-818d-09d8cea3c4d1","type":"model","status":"completed","predictionDomain":"classification","supportsFeatureImportance":true,"availablePredictionIntervals":[],"modelId":"4d9fdf0d-6f98-4317-b85f-a8548d38ee89","requestedDate":"2018-04-04T17:32:47.681627+00:00","statusHistory":[{"date":"2018-04-04T17:32:47.681627+00:00","status":"requested"},{"date":"2018-04-04T17:32:47.9512586+00:00","status":"started"},{"date":"2018-04-04T17:41:54.1412943+00:00","status":"completed"}],"extraParameters":{"balance":true},"messages":[{"severity":"informational","message":"2237
        observations were found in the dataset."}],"name":"Classification on Iris","dataSourceName":"Iris","dataSetName":"Iris","targetColumn":"iris","algorithm":{"name":"K-Nearest
        Neighbors","description":"K-Nearest Neighbors","key":""},"isEstimate":false,"links":[{"rel":"self","href":"https://api.uat.nexosisdev.com/v1/sessions/016291b7-d8e0-40be-818d-09d8cea3c4d1"}]},{"columns":{"text":{"dataType":"text","role":"feature"},"section_name":{"dataType":"string","role":"target","imputation":"mode","aggregation":"mode"}},"sessionId":"016290ce-878c-4092-b97c-f642a50d92cd","type":"model","status":"completed","predictionDomain":"classification","supportsFeatureImportance":true,"availablePredictionIntervals":[],"modelId":"ff9e4b38-9ad3-451f-a91a-6c423cb40920","requestedDate":"2018-04-04T13:17:56.968206+00:00","statusHistory":[{"date":"2018-04-04T13:17:56.968206+00:00","status":"requested"},{"date":"2018-04-04T13:18:02.1459395+00:00","sta[...]
- request:
    method: get
    uri: https://api.uat.nexosisdev.com/v1/sessions/01626ca6-56b2-417a-8ea1-6b05bbe389c6/results/outliers?page=0&pageSize=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - api-key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Nexosis-Session-Status:
      - Completed
      Nexosis-Account-Datasetcount-Allotted:
      - '10000'
      Nexosis-Account-Datasetcount-Current:
      - '41'
      Nexosis-Account-Predictioncount-Allotted:
      - '10000000'
      Nexosis-Account-Predictioncount-Current:
      - '14'
      Nexosis-Account-Sessioncount-Allotted:
      - '100000'
      Nexosis-Account-Sessioncount-Current:
      - '10'
      Nexosis-Account-Balance:
      - 0.00 USD
      Nexosis-Request-Cost:
      - 0.00 USD
    body:
      encoding: UTF-8
      string: '{"data":[{"timeStamp":"1/5/2014 12:00:00 AM","sales:actual":"229.09","sales:smooth":"1743.42167102697"},{"timeStamp":"1/6/2014
        12:00:00 AM","sales:actual":"0","sales:smooth":"1920.29538270229"}],"pageNumber":0,"totalPages":1,"pageSize":50,"totalCount":2,"sessionId":"01626ca6-56b2-417a-8ea1-6b05bbe389c6","type":"forecast","status":"completed","predictionDomain":"forecast","supportsFeatureImportance":true,"availablePredictionIntervals":["0.2","0.5","0.8"],"startDate":"2016-10-10T00:00:00+00:00","endDate":"2016-11-10T00:00:00+00:00","resultInterval":"day","requestedDate":"2018-03-28T12:47:43.219102+00:00","statusHistory":[{"date":"2018-03-28T12:47:43.219102+00:00","status":"requested"},{"date":"2018-03-28T12:49:02.1659862+00:00","status":"started"},{"date":"2018-03-28T13:04:04.8297598+00:00","status":"completed"}],"extraParameters":{},"messages":[{"severity":"informational","message":"1476
        observations were found in the dataset."},{"severity":"informational","message":"1404
        daily observations were found in the dataset before[...]
